# Selecting Subsets of Data in Pandas

This notebook is also available as a [blog post on Medium](https://medium.com/dunder-data/selecting-subsets-of-data-in-pandas-39e811c81a0c).

## Part 2: Boolean Indexing
This is part 2 of a seven-part series on how to select subsets of data from a pandas DataFrame or Series. Pandas offers a wide variety of options for subset selection which necessitates multiple articles. This series is broken down into the following 7 topics.

1. Selection with `[]`, `.loc` and `.iloc`
1. Boolean indexing
1. Assigning subsets of data
1. Selection with a MultiIndex
1. Selecting subsets of data with methods
1. Selections with other Index types
1. Internals, Miscellaneous, and Conclusion

## Part 1 vs Part 2 subset selection

Part 1 of this series covered subset selection with `[]`, `.loc` and `.iloc`. All three of these **indexers** use either the row/column labels or their integer location to make selections. The actual **data** of the Series/DataFrame is not used at all during the selection. 

In Part 2 of this series, on **boolean indexing**, we will select subsets of data based on the actual values of the data in the Series/DataFrame and NOT on their row/column labels or integer locations. 


## Documentation on boolean selection
I will always recommend reading the official documentation in addition to this tutorial when learning about boolean selection. The documentation uses more formal examples with dummy data, but is still an excellent resource.

The documentation use the term **boolean indexing** but you will also see **boolean selection**.

[Boolean Indexing from pandas documentation](http://pandas.pydata.org/pandas-docs/stable/indexing.html#boolean-indexing)

## Stack Overflow Data

The data that we will use for this tutorial comes from [Stack Overflow's data explorer](https://data.stackexchange.com/stackoverflow/query/new), which is a fantastic tool to gather an incredible amount of data from the site. You must know SQL in order to use the data explorer. The data explorer allows you to save queries. [Take a look at the query](http://data.stackexchange.com/stackoverflow/query/768430/get-all-questions-and-answerers-from-tag) I used to collect the data. 

The table below contains data on each question asked on stack overflow [tagged as pandas](https://stackoverflow.com/questions/tagged/pandas). 

The first question was asked March 30, 2011. Since then, more than 56,000 questions have been added as of December 2, 2017.

In [2]:
import pandas as pd
import numpy as np

In [3]:
so = pd.read_csv('../../data/stackoverflow_qa.csv')
so.head()

FileNotFoundError: File b'../../data/stackoverflow_qa.csv' does not exist

## Asking simple questions in plain English

Before we get to the technical definition of boolean indexing, let's see some examples of the types of questions it can answer.

* Find all questions that were created before 2014
* Find all questions with a score more than 50
* Find all questions with a score between 50 and 100
* Find all questions answered by Scott Boston
* Find all questions answered by the following 5 users
* Find all questions that were created between March, 2014 and October 2014 that were answered by Unutbu and have score less than 5.
* Find all questions that have score between 5 and 10 or have a view count of greater than 10,000
* Find all questions that are not answered by Scott Boston

You will also see examples like this referred to by the term **queries**.

## All queries have criteria
Each of the above queries have a strict logical criteria that must be checked one row at a time.

## Keep or Discard entire row of data
If you were to manually answer the above queries, you would need to scan each row and determine whether the row as a whole meets the criterion or not. If the row meets the criteria, then it is kept and if not, then it is discarded.

## Each row will have a `True` or `False` value associated with it
When you perform boolean indexing, each row of the DataFrame (or value of a Series) will have a `True` or `False` value associated with it depending on whether or not it meets the criterion. True/False values are known as **boolean**. The documentation refers to the entire procedure as **boolean indexing**. 

Since we are using the booleans to select data, it is sometimes referred to as **boolean selection**. Essentially, we are using booleans to select subsets of data.

## Using `[]` and `.loc` for boolean selection
We will use the same three indexers, **`[]`** and **`.loc`** from part 1 to complete our boolean selections. We will do so by placing a sequence of booleans inside of these indexer. The sequence will be the same number of rows/values as the DataFrame/Series it is doing the selection on.

The **`.iloc`** indexer can be made to work with boolean selection but is almost never used. A small section towards the end will show why it's unnecessary.

## Focus on `[]` for now
To simplify things, we will only the brackets, **`[]`**, which I called **just the indexing operator** from part 1. We will get to the other indexers a bit later.

## Use a small DataFrame to get started
Before we make our first boolean selection, let's simplify matters and use the first five rows of the stack overflow data as our starting DataFrame.

In [ ]:
so_head = so.head()
so_head

## Manually create a list of booleans
For our first boolean selection, we will not answer any interesting 'English' queries and instead just select rows with a list of booleans.

For instance, let's select the first and third rows by creating the following list:

In [ ]:
criteria = [True, False, True, False, False]

We can pass this list of booleans to just the indexing operator and complete our selection:

In [ ]:
so_head[criteria]

## Wait a second... Isn't `[]` just for column selection?
The primary purpose of *just the indexing operator* for a DataFrame is to select one or more columns by using either a string or a list of strings. Now, all of a sudden, this example is showing that entire rows are selected with boolean values. This is what makes pandas, unfortunately, one of the most confusing libraries to use. 

## Operator Overloading
*Just the indexing* operator is overloaded. This means, that depending on the inputs, pandas will do something completely different. Here are the rules for the different objects you pass to *just the indexing operator*.
* string - return a column as a Series
* list of strings - return all those columns as a DataFrame
* a slice - select rows (can do both label and integer location - confusing!)
* a sequence of booleans - select all rows where **`True`**

In summary, primarily *just the indexing operator* selects **columns**, but if you pass it a sequence of booleans it will select all **rows** that are **`True`**.

## What do you mean by 'sequence'?
I keep using the term **sequence of booleans** to refer to the `True/False` values. Technically, the most common built-in [Python sequence](https://docs.python.org/3/library/stdtypes.html#typesseq) types are lists and tuples. In addition to a list, you will most often be using a pandas Series as your 'sequence' of booleans.

Let's manually create a boolean Series to select the last three rows of **`so_head`**.

In [ ]:
s = pd.Series([False, False, True, True, True])
s

In [ ]:
so_head[s]

## Take care when creating a boolean Series by hand
The above example only worked because the index of both the boolean Series and **`so_head`** were the exact same. Let's output them so you can clearly see this.

In [ ]:
s.index

In [ ]:
so_head.index

## Boolean selection fails when the index doesn't align
When you are using a boolean Series to do boolean selection, the index of both objects must be the exact same. Let's create a slightly different Series with a different index than the DataFrame it is indexing on.

In [ ]:
s = pd.Series([False, False, True, True, True], index=[2, 3, 4, 5, 6])
s

In [ ]:
so_head[s]

## `IndexingError`: Unalignable boolean Series!
If the index of both the boolean Series and the object you are doing boolean selection on don't match exactly, you will get the above error. This is one reason, as you will below, why you will almost never create boolean Series by hand like this.

## Also use NumPy arrays
You can also use NumPy arrays to do boolean selection. NumPy arrays have no index so you won't get the error above, but your array needs to be the same exact length as the object you are doing boolean selection on.

In [ ]:
a = np.array([True, False, False, True, False])
so_head[a]

## Never creating boolean Series by hand
You will likely never create a boolean Series by hand as was done above. Instead, you will produce them based on the values of your data.

## Use the comparison operators to create boolean Series
The primary method of creating a Series of booleans is to use one of the six comparison operators: 
* **`<`**
* **`<=`**
* **`>`**
* **`>=`**
* **`==`**
* **`!=`** 

## Use comparison operator with a single column of data
You will almost always use the comparison operators on just a single column or Series of data. For instance, let's create a boolean Series from the **`score`** column. Let's determine if the score is at least 10.

We select the score column and then test the condition that each value is greater than or equal to 10. Notice that this operations gets applied to each value in the Series. A boolean Series is returned.

In [4]:
criteria = so['score'] >= 10
criteria.head(10)

NameError: name 'so' is not defined

## Finally making a boolean selection
Now that we have our boolean Series stored in the variable **`criteria`**, we can pass this to *just the indexing operator* to select only the rows that have a score of at least 10. 

We are going to use the entire **`so`** DataFrame for the rest of the tutorial.

In [ ]:
so_score_10_or_more = so[criteria]
so_score_10_or_more.head()

## How many rows have a score of at least ten
Just by looking at the head of the resulting DataFrame, we don't know how many rows passed our criterion. Let's output the shape of both our original and our resulting DataFrame.

In [ ]:
so.shape

In [ ]:
so_score_10_or_more.shape

Only about 3% of questions get a score of 10 or more.

## Boolean selection in one line
Often, you will see boolean selection happen in a single line of code instead of the multiple lines we used above. If the following is confusing for you, then I recommend storing your boolean Series to a variable like I did with **`criteria`** above.

It is possible to put the creation of the boolean Series inside of *just the indexing operator* like this.

In [ ]:
so[so['score'] >= 10].head()

## Single condition expression
Our first example tested a single condition (whether the score was 10 or more). Let's test a different single condition and look for all the questions that are answered by **Scott Boston**. The **`ans_name`** variable holds the display names of the people who posted the accepted answer to the question.

We use the **`==`** operator to test for equality and again store this result to the variable **`criteria`**. Again, we pass this variable to *just the indexing operator* which completes our selection.

In [ ]:
# step 1 - create boolean Series
criteria = so['ans_name'] == 'Scott Boston'

# step 2 - do boolean selection
so[criteria].head()

## Multiple condition expression
So far, both our boolean selections have involved a single condition. You can, of course, have as many conditions as you would like. To do so, you will need to combine your boolean expressions using the three logical operators **and**, **or** and **not**.

## Use `&`, `|`, `~`
Although Python uses the syntax **`and`**, **`or`**, and **`not`**, these will not work when testing multiple conditions with pandas. The details of why this is so will be left for part 7 of the Series.

You must use the following operators with pandas:
* **`&`** for **and**
* **`|`** for **or**
* **`~`** for **not**

## Our first multiple condition expression
Let's find all the questions that have a score of at least 5 and are answered by Scott Boston. To begin, we will create two separate variable to hold each criteria.

In [ ]:
criteria_1 = so['score'] >= 5
criteria_2 = so['ans_name'] == 'Scott Boston'

We will then use the **and** operator, the ampersand **`&`**, to combine them

In [ ]:
criteria_all = criteria_1 & criteria_2

We can now pass this final criteria to *just the indexing operator*

In [ ]:
so[criteria_all]

## Multiple conditions in one line
It is possible to combine the entire expression into a single line. Many pandas users like doing this, others hate it. Regardless, it is a good idea to know how to do so as you will definitely encounter it.

## Use parentheses to separate conditions
You must encapsulate each condition in a set of parentheses in order to make this work. This again, will be explained in part 7.

Each condition will be separated like this:
```Python
(so['score'] >= 5) & (so['ans_name'] == 'Scott Boston')
```

We can then drop this expression inside of *just the indexing operator*

In [ ]:
so[(so['score'] >= 5) & (so['ans_name'] == 'Scott Boston')]

## Using an `or` condition
Let's find all the questions that have a score of at least 100 or have at least 10 answers.

For the **or** condition, we use the pipe **`|`**

In [5]:
so[(so['score'] >= 100) | (so['answercount'] >= 10)].head()

NameError: name 'so' is not defined

## Reversing a condition with the `not` operator
The tilde character **`~`** represents the **not** operator and reverses a condition. For instance, if we wanted all the questions with score greater than 100, we could do it like this:

In [ ]:
so[~(so['score'] <= 100)].head()

Notice that there were parentheses around the condition '**`score`** less than equal to 100'. We had to use parentheses here or the operation wouldn't work correctly. 

Of course, this trivial example has no need for the not operator and can be replaced with the greater than operator, but it's easy to verify.

Let's look back up one example and invert the condition of **`score`** at least 100 or number of answers at least 10.  To do this, we will have to wrap our entire expression with parentheses like this:

```Python
~((so['score'] >= 100) | (so['answercount'] >= 10))
```

There is a set of parentheses around each inner expression as well.

## Complex conditions
It is possible to build extremely complex conditions to select rows of your DataFrame that meet a very specific criteria. For instance, we can select all questions answered by Scott Boston with **`score`** 5 or more OR questions answered by Ted Petrou with answer count 5 or more.

With multiple conditions, its probably best to break out the logic into multiple steps:

In [ ]:
criteria_1 = (so['score'] >= 5) & (so['ans_name'] == 'Scott Boston')
criteria_2 = (so['answercount'] >= 5) & (so['ans_name'] == 'Ted Petrou')
criteria_all = criteria_1 | criteria_2
so[criteria_all]

## Lots of `or` conditions in a single column - use `isin`
Occasionally, we will want to test equality in a single column to multiple values. This is most common in string columns. For instance, let's say we wanted to find all the questions answered by Scott Boston, Ted Petrou, MaxU, and unutbu.

One way to do this would be with four `or` conditions.

```Python
criteria = ((so['ans_name'] == 'Scott Boston') | (so['ans_name'] == 'Ted Petrou') | 
            (so['ans_name'] == 'MaxU') | (so['ans_name'] == 'unutbu'))
```

An easier way is to use the Series method **`isin`**. Pass it a list of all the items you want to check for equality.

In [ ]:
criteria = so['ans_name'].isin(['Scott Boston', 'Ted Petrou', 'MaxU', 'unutbu'])
criteria.head()

In [ ]:
so[criteria].head()

## Combining `isin` with other criteria
You can use the resulting boolean Series from the **`isin`** method in the same way you would from the logical operators. For instance, If we wanted to find all the questions answered by the people above and had score greater than 30 we would do the following:

In [ ]:
criteria_1 = so['ans_name'].isin(['Scott Boston', 'Ted Petrou', 'MaxU', 'unutbu'])
criteria_2 = so['score'] > 30
criteria_all = criteria_1 & criteria_2
so[criteria_all].tail()

## Use `isnull` to find rows with missing values
The **`isnull`** method returns a boolean Series where True indicates where a missing value is. For instance, questions that do not have an **accepted answer** have missing values for **`ans_name`**. Let's call **`isnull`** on this column.

In [ ]:
no_answer = so['ans_name'].isnull()
no_answer.head(6)

This is just another boolean Series which we can pass to *just the indexing operator*

In [ ]:
so[no_answer].head()

An alias of **`isnull`** is the **`isna`** method. Alias means it is the same exact method with a different name.

# Boolean Selection on a Series
All the examples thus far have taken place on the **`so`** DataFrame. Boolean selection on a Series happens almost identically. Since there is only one dimension of data, the queries you ask are usually going to be simpler.

First, let's select a single column of data as a Series such as the **`commentcount`** column.

In [ ]:
s = so['commentcount']
s.head()

Let's test for number of comments greater than 10

In [ ]:
criteria = s > 10
criteria.head()

Notice that there is no column selection here as we are already down to a single column. Let's pass this criteria to *just the indexing operator* to select just the values greater than 10.

In [ ]:
s[criteria].head()

We could have done this in one step like this

In [ ]:
s[s > 10].head()

If we wanted to find those comments greater than 10 but less than 15 we could have used an **and** condition like this:

In [ ]:
s[(s > 10) & (s < 15)].head()

## Another possibility is the `between` method
Pandas has lots of duplicate functionality built in to it. Instead of writing two boolean conditions to select all values inside of a range as was done above, you can use the **`between`** method to create a boolean Series. To use, pass it the left and right end points of the range. These endpoints are inclusive.

So, to replicate the previous example, you could have done this:

In [ ]:
s[s.between(11, 14)].head()

# Simultaneous boolean selection with rows and column labels with `.loc`
The **`.loc`** indexer was thoroughly covered in part 1 and will now be covered here to simultaneously select rows and columns. In part 1, it was stated that **`.loc`** made selections only by **label**. This wasn't strictly true as it is also able to do boolean selection along with selection by label.

Remember that **`.loc`** takes both a row selection and a column selection separated by a comma. Since the row selection comes first, you can pass it the same exact inputs that you do for *just the indexing operator* and get the same results.

Let's take a look at a couple examples from above:

In [ ]:
# same as above
so.loc[(so['score'] >= 5) & (so['ans_name'] == 'Scott Boston')]

In [ ]:
# same as above
criteria = so['ans_name'].isin(['Scott Boston', 'Ted Petrou', 'MaxU', 'unutbu'])
so.loc[criteria].head()

## Separate row and column selection with a comma for `.loc`
The great benefit of **`.loc`** is that it allows you to simultaneously do boolean selection along the rows and make column selections by label.

For instance, let's say we wanted to find all the questions with more than 20k views but only return the **`creationdate`**, **`viewcount`**, and **`ans_name`** columns. You would do the following.

In [ ]:
so.loc[so['viewcount'] > 20000, ['creationdate', 'viewcount', 'ans_name']].head(10)

You could have broken each selection into pieces like this:

```Python

row_selection = so['viewcount'] > 20000
col_selection = ['creationdate', 'viewcount', 'ans_name']
so.loc[row_selection, col_selection]
```

## Lots of combinations possible with `.loc`
Remember that **`.loc`** can take a string, a list of strings or a slice. You can use all three possible ways to select your data. You can also make very complex boolean selections for your rows.

Let's select rows with **`favoritecount`** between 30 and 40 and every third column beginning from **`title`** to the end.

In [ ]:
# weird but possible
so.loc[so['favoritecount'].between(30, 40), 'title'::3].head()

## Boolean selection for the columns?
It is actually possible to use a sequence of booleans to select columns. You pass a list, Series, or array of booleans the same length as the number of columns to **`.loc`**.

Let's do a simple manual example where we create a list of booleans by hand. First, let's find out how many columns are in our dataset

In [ ]:
so.shape

Let's create a list of 12 booleans

In [ ]:
col_bools = [True, False, False] * 4
col_bools

Use **`.loc`** to select all rows with just the `True` columns from **`col_bools`**.

In [ ]:
so.loc[:, col_bools].head()

You can simultaneously select rows and columns too. Let's select the same columns but for rows that have over 500,000 views.

In [ ]:
so.loc[so['viewcount'] > 500000, col_bools]

## A more practical example
Let's see a slightly more practical example of doing boolean selection on the columns. Let's say we flipped 10 coins one-hundred times and store each trial in a column in the DataFrame below

In [ ]:
coins = pd.DataFrame(np.random.randint(0, 2, (100, 10)), 
                     columns=list('abcdefghij'))
coins.head()

In [ ]:
coins.shape

If we are interested in selecting only the columns that have more than 50% heads, we could first take the mean of each column like this.

In [ ]:
coin_mean = coins.mean()
coin_mean

Let's test the condition that the percentage is greater than .5

In [ ]:
coin_mean > .5

Finally, we can use this boolean Series to select only the columns that meet our criteria.

In [ ]:
coins.loc[:, coins.mean() > .5].head()

# Column to column comparisons
All of the previous Series comparisons happened against a single scalar value. It is possible to create a boolean Series by comparing one column to another. For instance, we can find all the questions where there are more answers than **`score`**.

In [ ]:
criteria = so['answercount'] > so['score']
so[criteria].head()

In one line, the above would have looked like this:

```Python
so[so['answercount'] > so['score']]
```

## Almost never use `.iloc` with boolean selection
First, remember that **`.iloc`** uses INTEGER location to make its selections. 

You will rarely use **`.loc`** to do boolean selection and almost always use *just the indexing operator* or **`.loc`**. To see why, let's try and run a simple boolean selection to find all the rows that have more than 100,000 views.

In [ ]:
so.iloc[so['viewcount'] > 100000]

## `NotImplementedError`
The pandas developers have not decided to boolean selection (with a Series) for **`.iloc`** so it does not work. You can however convert the Series to a list or a NumPy array as a workaround.

Let's save our Series to a variable and double-check its type.

In [ ]:
criteria = so['viewcount'] > 100000
type(criteria)

Let's grab the underlying NumPy array with the **`values`** attribute and pass it to **`.iloc`**

In [ ]:
a = criteria.values
so.iloc[a].head()

You can make simultaneous column selection as well with integers.

In [ ]:
so.iloc[a, [5, 10, 11]].head()

I don't think I have ever used **`.iloc`** for boolean selection as its not implemented for Series. I added because it's one of the three main indexers in pandas and it's important to know that it's not used much at all for boolean selection.

## `.loc` and `[]` work the same on a Series for boolean selection
Boolean selection will work identically for **`.loc`** as it does with *just the indexing operator* on a Series. Both the indexers do row selection when passed a boolean Series. Since Series don't have columns, the two indexers are identical in this situation.

In [ ]:
s = so['score']

In [ ]:
s[s > 100].head()

In [ ]:
s.loc[s > 100].head()

# Summary

* **Boolean Indexing** or **Boolean Selection** is the selection of a subset of a Series/DataFrame based on the values themselves and not the row/column labels or integer location
* Boolean selection is used to answer common queries like "find all the female engineers with a salary over 150k/year"
* To do boolean selection, you first create a sequence of True/False values and pass it to a DataFrame/Series indexer
* Each row of data is kept or discarded
* The indexing operators are **overloaded** - change functionality depending on what is passed to them
* Typically, you will first create a boolean Series with one of the 6 comparison operators
* You will pass this boolean series to one of the indexers to make your selection
* Use the **`isin`** method to test for multiple equalities in the same column
* Use **`isnull`** to find all rows with missing values in a particular column
* Can use the **`between`** Series method to test whether Series values are within a range
* You can create complex criteria with the **and** (**`&`**), **or** (**`|`**), and **not** (**`~`**) logical operators
* When you have multiple conditions in a single line, you must wrap each expression with a parentheses
* If you have complex criteria, think about storing each set of criteria into its own variable (i.e. don't do everything in one line)
* If you are only selecting rows, then you will almost always use *just the indexing operator*
* If you are simultaneously doing boolean selection on the rows and selecting column labels then you will use **`.loc`**
* You will almost never use **`.iloc`** to do boolean selection
* Boolean selection works the same for Series as it does for DataFrames

# More to the story
Believe or not, there is still more to the story when it comes to boolean selection. We will cover more advanced topics in part 7.

# Exercises
Boolean selection is difficult at first and the syntax is somewhat clunky. It will take some time to master. These questions will start easy and progressively become more difficult.

## Data for exercises
We will use two datasets for these exercises. The stack overflow dataset which you have seen above and the employee dataset.

In [6]:
so = pd.read_csv('stackoverflow_qa.csv')
so.head()

,id,creationdate,score,viewcount,title,answercount,commentcount,favoritecount,quest_name,quest_rep,ans_name,ans_rep
0,5486226,2011-03-30 12:26:50,4,2113,Rolling median in python,3,4,1.0,yueerhu,125.0,Mike Pennington,26995.0
1,5515021,2011-04-01 14:50:44,8,7015,Compute a compounded return series in Python,3,6,7.0,Jason Strimpel,3301.0,Mike Pennington,26995.0
2,5558607,2011-04-05 21:13:50,2,7392,Sort a pandas DataMatrix in ascending order,2,0,1.0,Jason Strimpel,3301.0,Wes McKinney,43310.0
3,6467832,2011-06-24 12:31:45,9,13056,How to get the correlation between two timeser...,1,0,7.0,user814005,117.0,Wes McKinney,43310.0
4,7577546,2011-09-28 01:58:38,9,2488,"Using pandas, how do I subsample a large DataF...",1,0,5.0,Uri Laserson,958.0,HYRY,54137.0

In [7]:
employee = pd.read_csv('employee.csv')
employee.head()

,POSITION_TITLE,DEPARTMENT,BASE_SALARY,RACE,EMPLOYMENT_TYPE,GENDER,HIRE_DATE,JOB_DATE
0,ASSISTANT DIRECTOR (EX LVL),Municipal Courts Department,121862.0,Hispanic/Latino,Full Time,Female,2006-06-12,2012-10-13
1,LIBRARY ASSISTANT,Library,26125.0,Hispanic/Latino,Full Time,Female,2000-07-19,2010-09-18
2,POLICE OFFICER,Houston Police Department-HPD,45279.0,White,Full Time,Male,2015-02-03,2015-02-03
3,ENGINEER/OPERATOR,Houston Fire Department (HFD),63166.0,White,Full Time,Male,1982-02-08,1991-05-25
4,ELECTRICIAN,General Services Department,56347.0,White,Full Time,Male,1989-06-19,1994-10-22

### Exercise 1
<span  style="color:green; font-size:16px">Find all the questions that have exactly 5 answers</span>

In [8]:
so[so['answercount'] == 5]

,id,creationdate,score,viewcount,title,answercount,commentcount,favoritecount,quest_name,quest_rep,ans_name,ans_rep
75,10373660,2012-04-29 16:10:35,199,207980,Converting a Pandas GroupBy object to DataFrame,5,0,90.0,saveenr,2421.0,Wes McKinney,43310.0
115,10791661,2012-05-29 00:06:52,7,12210,How do I discretize values in a pandas DataFra...,5,0,3.0,Uri Laserson,958.0,lbolla,4552.0
130,10972410,2012-06-10 21:12:43,19,46428,pandas: combine two columns in a DataFrame,5,0,5.0,BFTM,895.0,BrenBarn,136870.0
189,11391969,2012-07-09 09:04:33,44,27467,How to group pandas DataFrame entries by date ...,5,1,15.0,Boris Gorelik,9605.0,Wes McKinney,43310.0
246,11811392,2012-08-04 19:25:34,17,20051,How to generate a list from a pandas DataFrame...,5,0,6.0,turtle,1260.0,BrenBarn,136870.0
247,11824341,2012-08-06 07:47:34,0,1558,Pandas: date_range error,5,2,NaN,scry,781.0,scry,781.0
316,12190874,2012-08-30 06:12:46,59,61706,Pandas: Sampling a DataFrame,5,1,24.0,Blender,180189.0,Wouter Overmeire,20078.0
318,12200693,2012-08-30 15:45:26,36,31779,Python Pandas How to assign groupby operation ...,5,3,20.0,ely,26102.0,Wouter Overmeire,20078.0
335,12278347,2012-09-05 09:29:34,13,10908,How can I efficiently save a python pandas dat...,5,3,7.0,Griffith Rees,811.0,NaN,NaN
339,12307099,2012-09-06 19:32:25,89,56876,Modifying a subset of rows in a pandas dataframe,5,1,41.0,Arthur B.,977.0,BrenBarn,136870.0
444,12867178,2012-10-12 21:12:33,27,44482,pandas: count things,5,4,15.0,Mike Dewar,4437.0,Dani Arribas-Bel,506.0
559,13331518,2012-11-11 13:26:27,32,44634,How to add a single item to a Pandas Series,5,0,3.0,eran,4226.0,joaquin,44318.0
589,13439098,2012-11-18 09:56:00,7,17975,How to filter rows of Pandas dataframe by chec...,5,3,1.0,bigbug,7865.0,Avaris,21067.0
620,13580875,2012-11-27 09:19:07,2,963,Running average / frequency of time series data?,5,9,1.0,Prof. Falken,15061.0,Victor K,332.0
634,13636592,2012-11-29 23:20:44,23,55230,How to sort a Pandas DataFrame according to mu...,5,0,10.0,mpjan,530.0,NaN,NaN
635,13636848,2012-11-29 23:44:17,28,12539,is it possible to do fuzzy match merge with py...,5,2,11.0,pocketfullofcheese,2192.0,Andy Hayden,131029.0
639,13653030,2012-11-30 20:54:35,6,11798,How do I Pass a List of Series to a Pandas Dat...,5,1,1.0,rhaskett,323.0,unutbu,464745.0
686,13867294,2012-12-13 19:47:51,6,7603,cleaning big data using python,5,2,3.0,Kathirmani Sukumar,3033.0,Andy Hayden,131029.0
748,14059094,2012-12-27 18:02:41,25,46875,I want to multiply two columns in a pandas Dat...,5,0,14.0,OAK,486.0,Aman,17046.0
1021,18062135,2013-08-05 15:37:39,126,105435,Combining two Series into a DataFrame in pandas,5,0,36.0,user7289,5381.0,Andy Hayden,131029.0
1023,18079563,2013-08-06 11:58:31,24,27526,Finding the intersection between two series in...,5,0,4.0,user7289,5381.0,Joop,2982.0
1042,16852911,2013-05-31 08:23:02,47,62785,How do I convert dates in a Pandas data frame ...,5,0,13.0,user7289,5381.0,waitingkuo,23950.0
1043,16923281,2013-06-04 16:46:56,256,368512,Pandas writing dataframe to CSV file,5,0,45.0,user7289,5381.0,Andy Hayden,131029.0
1122,17477979,2013-07-04 20:55:20,67,55481,dropping infinite values from dataframes in pa...,5,0,16.0,user248237dfsf,19244.0,Andy Hayden,131029.0
1208,14734533,2013-02-06 16:55:54,83,86849,How to access pandas groupby dataframe by key,5,0,25.0,beardc,6122.0,Andy Hayden,131029.0
1216,15923826,2013-04-10 10:52:47,44,33349,Random row selection in Pandas dataframe,5,0,7.0,John,8807.0,eumiro,104313.0
1263,16396903,2013-05-06 10:35:58,68,75541,Delete the first three rows of a dataframe in ...,5,0,13.0,Nilani Algiriyage,4083.0,bdiamante,4507.0
1277,17315737,2013-06-26 09:01:24,20,25506,Split a large pandas dataframe,5,0,4.0,Nilani Algiriyage,4083.0,root,29368.0
1316,14742893,2013-02-07 03:13:31,2,598,Interpolation Function,5,0,NaN,eWizardII,886.0,NaN,NaN
1331,16327055,2013-05-01 21:46:47,85,83590,How to add an empty column to a dataframe?,5,1,20.0,kjo,10487.0,DSM,164692.0
...,...,...,...,...,...,...,...,...,...,...,...,...
49714,46181112,2017-09-12 16:09:13,1,54,Python Pandas: Finding the index of a pandas s...,5,4,NaN,PVasish,8.0,Vaishali,10335.0
49802,46103426,2017-09-07 19:02:57,2,75,Filter out rows based on dates and flags from ...,5,2,1.0,jeangelj,779.0,cs,51675.0
49896,46105620,2017-09-07 21:51:50,-1,53,Split and tile a pandas dataframe,5,1,NaN,abutremutante,857.0,labarna,144.0
49930,45888443,2017-08-25 19:43:31,1,94,python how to match partial strings between tw...,5,1,NaN,alwaysaskingquestions,367.0,Han,26.0
50064,46449721,2017-09-27 13:53:38,-2,36,Splitting a dataframe based on the index,5,0,NaN,Carlo Allocca,130.0,cs,51675.0
50452,46229738,2017-09-14 23:49:29,2,40,Adding rows based on previous condition in ano...,5,1,NaN,SalN85,41.0,NaN,NaN
50580,46349345,2017-09-21 16:56:20,0,60,Compare two columns and get unique values in p...,5,0,NaN,Marcos Santana,75.0,Alexey Trofimov,533.0
50615,46007571,2017-09-01 20:26:23,8,115,"with python, select repeated elements longer t...",5,0,2.0,Jonathan Pacheco,88.0,NaN,NaN
50704,46185965,2017-09-12 22:01:39,11,657,How can I map the headers to columns in pandas?,5,0,3.0,sunny,93.0,NaN,NaN
50735,46303356,2017-09-19 14:41:18,2,162,pandas - Count streak of values higher/lower t...,5,0,1.0,Bruno Vieira,32.0,benjwadams,750.0
50803,46331210,2017-09-20 20:25:34,8,253,How to assign count of unique values to the re...,5,0,4.0,Doubt Dhanabalu,113.0,Vaishali,10335.0
51148,46148302,2017-09-11 04:41:31,1,65,What is the best way to access values in a dat...,5,0,0.0,chrisckwong821,417.0,cs,51675.0
51257,46201618,2017-09-13 15:37:03,3,45,Pandas: The best way to create new Frame by sp...,5,0,NaN,Renton,34.0,Zero,25935.0
51654,46870692,2017-10-22 05:09:30,8,555,How to find first local maximum for every group?,5,3,3.0,user1357015,2853.0,piRSquared,102658.0
51798,46653647,2017-10-09 19:26:05,1,349,Pandas: filter on multiple columns,5,3,1.0,M. K. Hunter,1127.0,NaN,NaN
51821,46912379,2017-10-24 13:53:38,2,48,DataFrame transpose from List,5,0,NaN,Josh,118.0,jezrael,186894.0
51968,46655202,2017-10-09 21:24:37,4,62,Probability of a Pandas value,5,1,1.0,Seano314,336.0,piRSquared,102658.0
52013,47061564,2017-11-01 18:40:36,5,60,How to create strings from dataframe columns e...,5,0,NaN,hernanavella,1890.0,Scott Boston,23611.0
52254,46898334,2017-10-23 20:52:59,0,62,How do I avoid a loop with Python/Pandas to bu...,5,3,NaN,GC123,40.0,GC123,40.0
52273,47055259,2017-11-01 12:48:36,3,83,Python dict group and sum multiple values,5,7,1.0,Ajay Kumar,178.0,cs,51675.0
52967,46816226,2017-10-18 17:48:28,7,122,Selecting single values from pandas dataframe ...,5,2,NaN,edager,81.0,MaxU,83732.0
53088,46519539,2017-10-02 04:31:57,6,186,How to select all non-NaN columns and non-NaN ...,5,0,NaN,Fang,308.0,Bharath,12877.0
53365,46697440,2017-10-11 20:57:28,2,43,Add Virgula in front of each word,5,1,NaN,Rivaldo Hater,18.0,MedAli,5232.0
53418,46499582,2017-09-30 04:30:26,2,75,How to make list of list from dataframe pandas?,5,0,NaN,Satrio Adi Prabowo,98.0,jezrael,186894.0
53423,46585640,2017-10-05 12:28:22,1,47,Get one or more column values as a list from P...,5,0,NaN,pyd,416.0,jezrael,186894.0
53433,47028601,2017-10-31 05:45:19,2,38,how to remove 0's in a datacolumn in a datafra...,5,5,NaN,pyd,416.0,NaN,NaN
53752,46557074,2017-10-04 04:33:51,0,61,Grouping similar values in a dictionary,5,0,NaN,ConstantLearner,3.0,Jeremy McGibbon,1121.0
53983,46882557,2017-10-23 05:36:29,3,87,How to split columns faster in python?,5,2,NaN,Steve Xu,23.0,Akshay Hegde,11362.0
54384,47542980,2017-11-29 00:05:31,2,43,Pandas groupby - set of different values,5,0,NaN,Baron Yugovich,260.0,jezrael,186894.0
55444,47213771,2017-11-10 00:13:38,1,247,column operation in csv [python],5,13,1.0,Alex,17.0,Bharath,12877.0

### Exercise 2
<span  style="color:green; font-size:16px">Find all the questions that have less than 10 views</span>

In [9]:
so[so['viewcount'] < 10]

,id,creationdate,score,viewcount,title,answercount,commentcount,favoritecount,quest_name,quest_rep,ans_name,ans_rep
7787,26493306,2014-10-21 18:06:10,1,6,How to convert hierarchical DataFrame back fro...,0,2,1.0,exp1orer,3551.0,NaN,NaN
17653,33641540,2015-11-10 23:19:36,0,9,Joining Dataframes in Pandas deletes an existi...,1,0,NaN,Rahul Biswas,88.0,NaN,NaN
29414,40062672,2016-10-15 18:24:21,-1,9,Replace one or more sub-strings from multiple ...,1,0,NaN,Andreuccio,186.0,NaN,NaN
36086,42538091,2017-03-01 17:20:37,0,9,Saving box plot pandas python,0,0,NaN,user2906657,119.0,NaN,NaN
36340,42080039,2017-02-07 01:13:30,0,8,pandas: count the non-duplicated elements when...,1,0,NaN,Edamame,2281.0,root,12202.0
40490,43271693,2017-04-07 07:04:19,0,9,Pandas Unsuccessfully Modify,1,1,NaN,Mellon,4.0,NaN,NaN
43489,45069021,2017-07-12 23:22:49,1,9,Can ask for strides of k subsequent items from...,1,0,NaN,user48956,3832.0,NaN,NaN
47371,45212468,2017-07-20 10:43:55,0,9,Pandas reads partial content,0,2,NaN,Keshav Reddy,16.0,NaN,NaN
49232,45890470,2017-08-25 23:16:57,0,7,result of pandas.PeriodIndex(astype(str)) in p...,1,0,NaN,checker,18.0,NaN,NaN
50461,45991431,2017-08-31 23:26:20,0,9,Check for excel file on a url link via while l...,0,0,NaN,Shyama Sonti,73.0,NaN,NaN
52518,47091256,2017-11-03 08:20:58,0,8,Unifying columns in the same Pandas dataframe ...,1,0,NaN,Anjo,13.0,NaN,NaN
53794,46628996,2017-10-08 08:22:26,0,7,Trying to aggregate two columns of values into...,0,0,NaN,lys,1.0,NaN,NaN
54304,47208273,2017-11-09 17:38:49,0,6,Pandas SettingWithCopyWarning with to_datetime,0,0,NaN,the tao,110.0,NaN,NaN
54462,47254707,2017-11-12 22:26:52,0,9,CSV download from Github link gives tokenizing...,1,0,NaN,user3059218,4.0,NaN,NaN
54507,47611836,2017-12-02 19:44:00,0,8,pandas: different plot x-values when plotting ...,0,1,NaN,SuperGeo,246.0,NaN,NaN
54855,47126567,2017-11-05 20:58:17,0,9,Expanding Int64 data type in dataframe,0,2,NaN,madman,54.0,NaN,NaN
55041,47440171,2017-11-22 16:58:49,0,8,Multi-index and time-stamps not recognised in ...,0,0,NaN,Andreuccio,186.0,NaN,NaN
55068,47461776,2017-11-23 18:45:23,0,8,how to drop duplicates in pandas when entries ...,1,0,NaN,splinter,1054.0,Wen,21789.0
55166,47550355,2017-11-29 10:20:18,0,9,pandas HTML rendering of multi-index changes w...,0,0,NaN,Campi,20.0,NaN,NaN
55234,47477606,2017-11-24 17:09:18,0,5,Plotly- shading time series regions based on a...,0,0,NaN,Dick Thompson,110.0,NaN,NaN
55285,47553898,2017-11-29 13:23:17,2,9,Pandas: Delete duplicated items in a specific ...,1,0,0.0,totyped,224.0,jezrael,186894.0
55410,47548480,2017-11-29 08:46:06,-2,8,how to store the Pandas nunique value of age i...,0,2,NaN,sujay,1.0,NaN,NaN
55554,47462671,2017-11-23 20:06:18,1,8,Create column that makes summation to a scalar,1,0,NaN,ge00rge,646.0,Wen,21789.0
55606,47421513,2017-11-21 19:48:44,0,7,"Converting CSV to sqlite3 table in pandas - ""8...",1,0,NaN,ifthenifthen,92.0,NaN,NaN
55636,47428726,2017-11-22 07:06:58,0,6,How to link a python file with libm?,0,0,NaN,Shashank Simha M R,3.0,NaN,NaN
55713,47614866,2017-12-03 03:06:05,0,6,How to convert a List of lists with nested dic...,0,0,NaN,Parul,11.0,NaN,NaN
56326,47607315,2017-12-02 11:16:13,0,9,ModuleNotFoundError: No module named 'pandas._...,0,0,1.0,Sam Kuan,6.0,NaN,NaN
56374,47613361,2017-12-02 22:38:38,0,8,How to remove duplicate markers in gmaps in pa...,0,0,NaN,Sarah,3.0,NaN,NaN

### Exercise 3
<span  style="color:green; font-size:16px">Find all the questions where the person asking it is the same as the person answering it</span>

In [10]:
so[so['quest_name'] == so['ans_name']]

,id,creationdate,score,viewcount,title,answercount,commentcount,favoritecount,quest_name,quest_rep,ans_name,ans_rep
10,8273092,2011-11-25 18:39:02,1,2333,python: pandas install errors,2,0,NaN,codingknob,2279.0,codingknob,2279.0
33,9721429,2012-03-15 14:08:31,9,5732,How do I read a fix width format text file in ...,4,2,NaN,user1234440,3369.0,user1234440,3369.0
58,10020591,2012-04-04 23:17:23,21,20171,How to resample a dataframe with different fun...,4,0,15.0,bmu,17129.0,bmu,17129.0
68,10175068,2012-04-16 13:27:44,15,7501,Select data at a particular level from a Multi...,2,3,5.0,elyase,19551.0,elyase,19551.0
74,10264739,2012-04-22 02:35:06,9,2362,major memory problems reading in a csv file us...,3,2,7.0,vgoklani,1752.0,vgoklani,1752.0
84,10475488,2012-05-07 00:38:47,5,2263,Calculating crossing (intercept) points of a S...,1,1,3.0,dailyglen,460.0,dailyglen,460.0
114,10771745,2012-05-27 04:53:45,0,1146,Removing duplicates from dataframe with index ...,1,2,1.0,dailyglen,460.0,dailyglen,460.0
169,11264307,2012-06-29 15:09:28,9,7436,"Adding levels to MultiIndex, removing without ...",1,0,4.0,Arthur G,987.0,Arthur G,987.0
195,11418192,2012-07-10 16:56:37,42,24109,pandas: complex filter on rows of DataFrame,4,0,6.0,duckworthd,4733.0,duckworthd,4733.0
239,11762815,2012-08-01 15:41:19,6,2945,How to resample a python pandas TimeSeries con...,2,1,NaN,THM,305.0,THM,305.0
247,11824341,2012-08-06 07:47:34,0,1558,Pandas: date_range error,5,2,NaN,scry,781.0,scry,781.0
249,11848578,2012-08-07 14:50:42,1,452,Pandas messing up dataframe,2,3,NaN,user1569050,2519.0,user1569050,2519.0
320,12203901,2012-08-30 19:15:56,13,7032,pandas crashes on repeated DataFrame.reset_ind...,1,0,NaN,Abe,5182.0,Abe,5182.0
346,12329853,2012-09-08 10:16:04,11,36312,How to rearrange Pandas column sequence?,6,0,4.0,bigbug,7865.0,bigbug,7865.0
357,12383436,2012-09-12 07:47:20,4,1593,Access Pandas Series item with dot notation li...,2,0,1.0,PhE,1988.0,PhE,1988.0
398,12569730,2012-09-24 17:11:53,31,7160,Sum all columns with a wildcard name search us...,2,4,6.0,jbssm,2620.0,jbssm,2620.0
412,12641606,2012-09-28 14:06:39,0,1341,Pandas: sorting numbers within text by column,3,0,NaN,fred,2342.0,fred,2342.0
414,12647811,2012-09-28 21:46:38,1,489,Swap cells strings from 2 dataframe columns,3,1,0.0,fred,2342.0,fred,2342.0
426,12720159,2012-10-04 04:10:11,0,155,pandas alternative to string creation loop,1,2,NaN,dmvianna,5535.0,dmvianna,5535.0
434,12810801,2012-10-10 01:43:11,1,835,Union all type query with python pandas,1,0,NaN,dantes_419,119.0,dantes_419,119.0
465,12979568,2012-10-19 17:41:14,0,447,basic plotting with pandas,1,3,NaN,Abhi,1824.0,Abhi,1824.0
473,13013351,2012-10-22 14:17:47,2,1689,Pandas DataFrame with MultiIndex: efficient wa...,1,0,NaN,Einar,1561.0,Einar,1561.0
547,13261691,2012-11-07 00:46:05,4,358,understanding MultiIndex,2,0,2.0,Calvin Cheng,16132.0,Calvin Cheng,16132.0
619,13576164,2012-11-27 01:40:07,3,3689,How to keep MultiIndex when using pandas merge,1,0,1.0,dmvianna,5535.0,dmvianna,5535.0
631,13628860,2012-11-29 15:15:15,0,637,AttributeError when using numpy.logical_and wi...,1,5,NaN,durden2.0,2784.0,durden2.0,2784.0
701,13924801,2012-12-18 01:01:44,1,65,ignoring hierarchical index during matrix oper...,1,0,NaN,dmvianna,5535.0,dmvianna,5535.0
718,13965036,2012-12-20 03:51:52,1,1603,Dataframe merge creates duplicate records in p...,2,4,NaN,user1917577,21.0,user1917577,21.0
723,13980516,2012-12-20 21:11:31,-1,368,Issues in printing time series graph from pand...,1,2,NaN,nom-mon-ir,1538.0,nom-mon-ir,1538.0
794,14225676,2013-01-08 23:12:25,44,26526,Save list of DataFrames to multisheet Excel sp...,1,0,18.0,Andy Hayden,131029.0,Andy Hayden,131029.0
832,14334898,2013-01-15 09:45:25,1,83,Maximum number of dependencies in pandas ols?,1,0,NaN,wiseveri,131.0,wiseveri,131.0
...,...,...,...,...,...,...,...,...,...,...,...,...
53712,46584622,2017-10-05 11:35:19,1,87,Fitting a curve while updating a plot using th...,1,2,0.0,Amin Kiany,6.0,Amin Kiany,6.0
53727,47018911,2017-10-30 15:27:50,1,35,Create new dataframe columns from old datafram...,1,4,NaN,Gabriela Catalina,20.0,Gabriela Catalina,20.0
53749,46552587,2017-10-03 20:08:16,2,54,How can i create a ruleset to assign values to...,2,0,NaN,Suhaib Qazi,21.0,Suhaib Qazi,21.0
53768,46575932,2017-10-05 00:02:15,2,70,How to iterate over a pandas dataframe while r...,3,0,1.0,karakumy,18.0,karakumy,18.0
53968,46943954,2017-10-26 00:21:39,-1,22,Joining dataframe by index. but no data on out...,1,8,1.0,subash707,15.0,subash707,15.0
54059,47058412,2017-11-01 15:34:25,0,33,New column as function result in pandas datafr...,1,4,NaN,eszter,8.0,eszter,8.0
54078,47178632,2017-11-08 11:32:03,0,30,How to parse uploaded Excel file?,1,2,NaN,ruipacheco,3547.0,ruipacheco,3547.0
54176,47191791,2017-11-09 00:00:33,-8,119,How do I filter an empty DataFrame and still k...,3,1,NaN,Henry Henrinson,2419.0,Henry Henrinson,2419.0
54273,47310814,2017-11-15 15:08:06,1,35,Pandas to_datetime loses timezone,1,0,NaN,Matthias,1614.0,Matthias,1614.0
54283,47189212,2017-11-08 20:38:22,0,43,pandas count unique if condition true,1,0,NaN,Robert,8.0,Robert,8.0
54373,47152691,2017-11-07 08:00:28,51,694,How to pivot a dataframe,1,0,32.0,piRSquared,102658.0,piRSquared,102658.0
54380,47335519,2017-11-16 17:13:40,1,62,AttributeError: 'PyxImporter' object has no at...,1,5,NaN,Knifa,185.0,Knifa,185.0
54510,47395944,2017-11-20 15:51:30,0,16,SettingWithCopyWarning & Hidden Chaining,1,3,NaN,chocol8milkman,126.0,chocol8milkman,126.0
54641,47155431,2017-11-07 10:22:12,0,42,Pyarrow from_pandas crashes the interpreter wh...,1,3,NaN,Adonis,2215.0,Adonis,2215.0
54666,47477789,2017-11-24 17:24:30,0,21,Pandas concat and OHLC issue,1,2,NaN,ajsp,506.0,ajsp,506.0
54697,47376786,2017-11-19 12:21:23,1,70,python dask dataframe splitting column of tupl...,1,0,NaN,captain shai,387.0,captain shai,387.0
54792,47132523,2017-11-06 08:23:11,2,44,"Pandas inconsistency with regex ""."" dot metach...",1,0,1.0,cs,51675.0,cs,51675.0
54887,47453050,2017-11-23 10:19:51,1,26,How to write data of type DataFrame using asks...,1,0,NaN,Aurora_Titanium,184.0,Aurora_Titanium,184.0
54930,47254811,2017-11-12 22:39:32,-3,52,TypeError: len() of unsized object when slicin...,1,12,NaN,durbachit,506.0,durbachit,506.0
54999,47116400,2017-11-04 22:50:02,0,24,Parsing py2neo paths into Pandas,1,0,NaN,Joseph Berry,83.0,Joseph Berry,83.0
55195,47373969,2017-11-19 05:22:24,0,25,Pandas: how to use a function dictionary to as...,1,0,NaN,Artem Yevtushenko,86.0,Artem Yevtushenko,86.0
55377,47529906,2017-11-28 10:59:38,2,33,"Pandas ""read_sql"" UnicodeDecodeError",1,2,NaN,Ladenkov Vladislav,336.0,Ladenkov Vladislav,336.0
55454,47211319,2017-11-09 20:52:15,1,73,How To Pull Data From the Adwords API and put ...,1,0,1.0,Christopher_M,43.0,Christopher_M,43.0
55466,47209431,2017-11-09 18:48:45,1,22,Pandas dataframes and PyCharm IntelliSense,1,0,NaN,Blake,151.0,Blake,151.0
55689,47455323,2017-11-23 12:11:59,1,41,Weird behavior with datetime: error: time data...,1,3,NaN,Toutsos,25.0,Toutsos,25.0
55767,47419823,2017-11-21 18:06:38,0,35,Tring to load csv file in Pandas using dataframe,1,3,NaN,SaishB93,18.0,SaishB93,18.0
55777,47350412,2017-11-17 12:12:51,0,40,Using .agg in pandas returns 'list object has ...,1,4,NaN,Nord112,3.0,Nord112,3.0
55781,47170051,2017-11-08 01:21:47,1,100,How can I use a list comprehension to set colors?,1,8,1.0,solub,79.0,solub,79.0
55987,47134254,2017-11-06 10:01:27,0,62,Merging list elements into one list of datafra...,1,0,NaN,hall,15.0,hall,15.0
56175,47354844,2017-11-17 16:10:26,0,48,Calculating cummulative returns mid-year to mi...,1,0,NaN,Chris,13.0,Chris,13.0

### Exercise 4
<span  style="color:green; font-size:16px">Find all the questions that don't have an accepted answer, but have a score of more than 100</span>

In [14]:
so[so['ans_name'].isnull() & so['score'] > 100]

Empty DataFrame
Columns: [id, creationdate, score, viewcount, title, answercount, commentcount, favoritecount, quest_name, quest_rep, ans_name, ans_rep]
Index: []

### Exercise 5
<span  style="color:green; font-size:16px">Find all the questions where the reputation of the person asking the question is higher than the person answering it. Then find the percentage of times this happens</span>

In [24]:
rs = so[so['quest_rep'] > so['ans_rep']]
perc = (len(rs)/len(so))*100
print(rs,perc)

             id         creationdate  score  viewcount  \
26      9588331  2012-03-06 17:01:47     22      10038
51      9962114  2012-04-01 05:25:20      9       8079
99     10636024  2012-05-17 12:48:00     36      30386
101    10671227  2012-05-20 06:14:57      0        473
112    10760364  2012-05-25 19:33:39      8       2977
123    10867028  2012-06-03 00:38:37     28      25115
134    11004088  2012-06-12 20:11:53      5       2008
137    11015974  2012-06-13 13:32:55      0        546
182    11348183  2012-07-05 15:59:54     18      26272
211    11586989  2012-07-20 21:11:28      8       9161
218    11621165  2012-07-23 21:57:01      9      19512
221    11640243  2012-07-24 22:30:16     34      18986
255    11885916  2012-08-09 14:41:05      7        861
259    11918342  2012-08-11 23:01:25      3       4829
284    12047418  2012-08-21 01:41:25      3      19551
311    12183432  2012-08-29 17:30:24      3       2285
316    12190874  2012-08-30 06:12:46     59      61706
318    12200693  2012-08-30 15:45:26     36      31779
322    12217960  2012-08-31 15:00:12      5        992
331    12255179  2012-09-03 23:49:01      1       1212
333    12269158  2012-09-04 18:14:35      2       4120
345    12326641  2012-09-07 23:27:20      4        998
352    12370349  2012-09-11 13:02:00      1        660
356    12382197  2012-09-12 06:16:15      1        170
358    12389898  2012-09-12 13:58:12     23      20817
361    12393387  2012-09-12 17:23:17      2       2000
362    12406162  2012-09-13 12:23:23     17      10715
370    12425602  2012-09-14 13:29:30      2       1988
372    12429279  2012-09-14 17:28:29      0        261
374    12433076  2012-09-14 23:06:15     38      87134
...         ...                  ...    ...        ...
54500  47450931  2017-11-23 08:38:50      0         13
54517  47170923  2017-11-08 03:05:09      0         30
54615  47207713  2017-11-09 17:06:18      0         60
54621  47160992  2017-11-07 14:59:13      2         48
54639  47388570  2017-11-20 09:20:48      0         41
54680  47442778  2017-11-22 19:45:04      0         38
54722  47459464  2017-11-23 16:02:05      0         32
54746  47440270  2017-11-22 17:03:55     -1         49
54770  47536129  2017-11-28 16:13:45      0         29
54787  47135742  2017-11-06 11:18:21      2         62
54788  47299082  2017-11-15 03:53:24      0         42
54791  47304847  2017-11-15 10:22:57      2         47
54813  47442581  2017-11-22 19:33:45      0         17
54823  47320572  2017-11-16 02:29:37      0         34
54829  47558374  2017-11-29 17:24:55      0         31
54885  47570593  2017-11-30 10:00:11      2         50
54944  47540944  2017-11-28 21:07:30      3         24
54952  47476809  2017-11-24 16:09:33      3        120
54975  47419659  2017-11-21 17:57:48     -1         52
55048  47515950  2017-11-27 16:48:35      0         22
55097  47480584  2017-11-24 22:09:52      0         58
55189  47594661  2017-12-01 13:38:53      1         16
55227  47377896  2017-11-19 14:21:25     -2         27
55259  47181073  2017-11-08 13:32:28      1         42
55329  47584876  2017-12-01 00:32:37      0         27
55334  47375680  2017-11-19 10:07:28      1         40
55359  47142887  2017-11-06 17:51:11      0         59
55449  47235829  2017-11-11 08:11:06      0         36
55484  47147749  2017-11-06 23:48:54      0         39
55815  47421139  2017-11-21 19:28:09      0         23

                                                   title  answercount  \
26                     Simple cross-tabulation in pandas            2
51                              Control Charts in Python            1
99     Python / Pandas - GUI for viewing a DataFrame ...           15
101                           Pandas FloatingPoint Error            1
112                  "Zebra Tables" in IPython Notebook?            3
123    Get pandas.read_csv to read empty values as em...            3
134                          indexing a pandas DataFrame            1
137     Vectorize High Frequency Data, Calculate Spread,            1
182    Pandas bar plot with specific colors and legen...            2
211    pandas, matplotlib, use dataframe index as axi...            3
218               Indexing a pandas dataframe by integer            1
221                          PANDAS plot multiple Y axes            1
255    Joining a Pandas series with a hierarchical in...            2
259                       Converting date/time in Pandas            3
284    How do I really use the `ix` method of a panda...            1
311    Typecasting before division (or any other math...            2
316                         Pandas: Sampling a DataFrame            5
318    Python Pandas How to assign groupby operation ...            5
322    How to replace&add the dataframe element by an...            4
331    numpy/pandas: How to convert a series of strin...            2
333    Python Pandas idiom for converting TimeSeries ...            1
345    Calculate speed from timestamped positions in ...            1
352    Reasoning about consecutive data points withou...            4
356    Generating a boolean mask indexing one array i...            3
358    Python Pandas: how to add a totally new column...            1
361    Python Pandas: How to broadcast an operation u...            3
362    KeyError when plotting a sliced pandas datafra...            3
370    Python package recommendation for data analysi...            2
372    Design strategy for managing and processing da...            1
374    Download history stock prices automatically fr...            4
...                                                  ...          ...
54500  Print pandas data frame for reproducible examp...            1
54517   Subset Dataframe for even split in column values            2
54615  python pandas: A value is trying to be set on ...            1
54621  pandas: how to write to an Excel sheet without...            1
54639  pandas dataframe to_csv works with sep='\n' bu...            3
54680  Accuracy of learning algorithm drops after ave...            2
54722  Dividing a very large dataframe into n random ...            1
54746              Python: Removing backslash in string?            1
54770                Numpy equal to not working properly            1
54787  How to parse and evaluate a math expression wi...            2
54788  Individual plots worked but once added subplot...            2
54791       Custom pandas groupby on a list of intervals            2
54813                     Averaging a pivot table column            1
54823                          Pandas, groupby and count            1
54829  Django keeps adding ' character to first cell ...            2
54885  pandas: Get an average value of sales for a da...            1
54944  Python / Pandas - Merging on index with multip...            1
54952        Polar chart with limit and anomalous points            2
54975                       Pandas filtering not working            2
55048  Can't get ride of the index column of my excel...            1
55097     Calculate mean numpy array in pandas DataFrame            1
55189  Add a column from a csv file in a dataframe in...            1
55227  correcting data and replace the new data in pa...            1
55259                            Weighted average pandas            2
55329  Plotting percentage of totals with pandas grou...            2
55334                        Counter for words and emoji            2
55359  How to create a heatmap with discrete color le...            2
55449  BeautifulSoup identifying only few elements in...            2
55484                  Data calculation in pandas python            1
55815  How to get some rows from a DataFrame to build...            1

       commentcount  favoritecount               quest_name  quest_rep  \
26                3            5.0             Jon Clements    85944.0
51                0            3.0                     John     8807.0
99                6           27.0                   Ross R     1562.0
101               5            NaN                  tshauck     5957.0
112               0            4.0                  JD Long    33098.0
123               0            5.0                 BrenBarn   136870.0
134               0            1.0                   elyase    19551.0
137               4            NaN                   Andrew      248.0
182               3            7.0                    Shane    69835.0
211               0            4.0                      tbc      886.0
218               0            9.0                   SiggyF    10726.0
221               0           11.0            Joran Beasley    63361.0
255               0            3.0                  JD Long    33098.0
259               1            1.0                 vgoklani     1752.0
284               0            4.0                   Paul H    22389.0
311               0            2.0                  Navneet     1791.0
316               1           24.0                  Blender   180189.0
318               3           20.0                      ely    26102.0
322               2            1.0                   bigbug     7865.0
331               0            NaN                      Abe     5182.0
333               0            NaN                      ely    26102.0
345               0            1.0              heltonbiker    11594.0
352               2            0.0                  codeape    62467.0
356               4            NaN            Daniel Velkov    16272.0
358               3           10.0                      ely    26102.0
361               4            NaN                      ely    26102.0
362               1            3.0                    joris    44714.0
370               3            1.0              user1491915      622.0
372               0            NaN              heltonbiker    11594.0
374               1           43.0                      Bob     2037.0
...             ...            ...                      ...        ...
54500             0            NaN  Yehoshaphat Schellekens      940.0
54517             2            NaN              user3476463      428.0
54615            10            NaN               iamsterdam      456.0
54621             0            NaN     Pythonista anonymous     1018.0
54639             3            NaN                      Jan      436.0
54680             1            NaN                   Bolboa     2116.0
54722             4            NaN       Antonio Lpez Ruiz      312.0
54746             5            NaN              Christopher      178.0
54770            14            NaN                  Bharath    12877.0
54787             5            NaN                  ChesuCR     2679.0
54788             5            1.0               George Liu      871.0
54791             0            NaN                cs    51675.0
54813             0            NaN                   Stacey      688.0
54823             0            NaN            Alexander Yau     3286.0
54829             3            NaN               Davtho1983      538.0
54885             1            NaN                    Paddy      722.0
54944             7            NaN            abutremutante      857.0
54952             3            NaN                    Sotos    20502.0
54975             8            NaN                  LMGagne      234.0
55048             0            NaN                 Emixam23      608.0
55097             3            NaN                 yellow01      354.0
55189             0            0.0                 Andriana       39.0
55227             1            NaN                    armin       52.0
55259             3            NaN                     BERA      199.0
55329             0            NaN               Kelli-Jean      960.0
55334             0            NaN                sheldonzy     1033.0
55359             0            NaN              Dinosaurius     1718.0
55449             4            NaN              Akhil Reddy      221.0
55484             1            NaN               magicsword      317.0
55815             0            NaN             thomas2013ch       38.0

                   ans_name  ans_rep
26        Jeff Hammerbacher   3172.0
51              Josh Hemann    590.0
99              user1319128    555.0
101                  Karmel   2870.0
112                   minrk  22244.0
123            Wes McKinney  43310.0
134                  diliop   5952.0
137                 Pavel T    154.0
182            Wes McKinney  43310.0
211                     PJW    331.0
218      Michelle Lynn Gill    786.0
221               Chang She   8528.0
255        Wouter Overmeire  20078.0
259                jdmarino    196.0
284        Wouter Overmeire  20078.0
311           Eero Aaltonen   1766.0
316        Wouter Overmeire  20078.0
318        Wouter Overmeire  20078.0
322                  Def_Os   2775.0
331         Henry Gomersall   4841.0
333               Chang She   8528.0
345               Chang She   8528.0
352               Pierre GM  12141.0
356               Pierre GM  12141.0
358               Chang She   8528.0
361                  Avaris  21067.0
362        Wouter Overmeire  20078.0
370          Thomas Vincent     73.0
372               Chang She   8528.0
374                  Joe C.   1405.0
...                     ...      ...
54500            David Dale    748.0
54517                jaguar     92.0
54615                Georgy     88.0
54621         patrickjlong1    524.0
54639        Tomohiro Egawa     46.0
54680              Harry_pb    625.0
54722             user32185    308.0
54746          DeathCamel57     72.0
54770          Brad Solomon   5113.0
54787                uuazed    524.0
54788                   Joe    174.0
54791               Bharath  12877.0
54813         Tasko Olevski    186.0
54823                   WNG   1935.0
54829                 Wayne     66.0
54885                  talz     26.0
54944              MisterJT     86.0
54952      Reblochon Masque   9784.0
54975                 Peter    146.0
55048           user8834780    134.0
55097                 dgumo    174.0
55189           GeneticsGuy     26.0
55227                  SCKU     36.0
55259  Martin Alexandersson    131.0
55329         offwhitelotus    412.0
55334                 con--    422.0
55359              akilat90    795.0
55449                  Siva     88.0
55484            datagarret     26.0
55815             madmapper     26.0

[2240 rows x 12 columns] 3.9717720486542074

### Exercise 6
<span  style="color:green; font-size:16px">Find all the questions where the number of answers is between 5 and 10 inclusive, and the number of views is less than 1,000.</span>

In [26]:
so[(so['answercount'].between(5,10)) & (so['viewcount'] < 1000)]

,id,creationdate,score,viewcount,title,answercount,commentcount,favoritecount,quest_name,quest_rep,ans_name,ans_rep
620,13580875,2012-11-27 09:19:07,2,963,Running average / frequency of time series data?,5,9,1.0,Prof. Falken,15061.0,Victor K,332.0
1316,14742893,2013-02-07 03:13:31,2,598,Interpolation Function,5,0,NaN,eWizardII,886.0,NaN,NaN
4816,21315997,2014-01-23 18:02:57,2,716,Python Pandas vs R. Transformation Code Concis...,5,2,2.0,user2684301,1465.0,Jeff,62248.0
4958,19892107,2013-11-10 16:28:50,5,385,Updating csv with data from a csv with differe...,6,0,1.0,OliverSteph,32.0,NaN,NaN
5339,21040578,2014-01-10 09:33:09,-1,175,combining mutiple csv file,8,2,NaN,user104853,16.0,NaN,NaN
8842,27000092,2014-11-18 17:14:40,7,744,Count how many times each row is present in nu...,5,1,4.0,Akavall,30059.0,Jaime,42996.0
10525,29535163,2015-04-09 09:49:14,9,669,What dtype to use for money representation in ...,5,5,NaN,userqwerty1,362.0,NaN,NaN
10934,29407945,2015-04-02 08:04:51,8,997,Find and replace multiple values in python,9,1,1.0,blaz,945.0,Ashwini Chaudhary,154575.0
13789,30638568,2015-06-04 08:20:35,5,349,python if statement returns value error,5,0,NaN,hb.klein,151.0,EdChum,124367.0
14219,32724146,2015-09-22 18:22:24,2,395,Replacing zero values in dataframe using anoth...,5,2,NaN,user308827,2529.0,EdChum,124367.0
14274,32988269,2015-10-07 09:12:04,5,889,Speedup MSD calculation in Python,5,6,1.0,HadiM,173.0,thomasfermi,558.0
14750,31872659,2015-08-07 08:07:41,0,740,Python & Pandas: How to do conditional calcula...,5,0,NaN,cqcn1991,3290.0,DeepSpace,23882.0
14891,32576398,2015-09-15 01:44:36,4,185,How to transform list of dictionaries with jag...,5,0,NaN,Ben,4449.0,Ben,4449.0
16024,33407223,2015-10-29 06:21:06,3,95,Pandas Dataframe: count number of IDs based on...,5,3,NaN,sachin saxena,528.0,Zero,25935.0
16064,33134804,2015-10-14 20:17:36,2,559,Skip every specified line before importing to ...,5,11,NaN,Leb,6623.0,Padraic Cunningham,121352.0
17111,33531507,2015-11-04 20:36:08,3,908,reading a matrix and fetch row and column name...,5,1,NaN,gthm,605.0,NaN,NaN
17127,34297319,2015-12-15 19:02:14,5,918,Finding top N columns for each row in data frame,5,3,1.0,Diego,20300.0,Padraic Cunningham,121352.0
18672,34759318,2016-01-13 05:52:52,2,210,Creating new column using output of if else st...,5,4,NaN,haimen,635.0,jezrael,186894.0
18706,34616439,2016-01-05 16:24:11,8,417,Filtering pandas or numpy arrays for continuou...,5,2,NaN,pho,105.0,Divakar,128094.0
18998,33750947,2015-11-17 07:00:31,0,83,"grouping of dataframe find the count,sum on co...",5,2,1.0,Satya,882.0,Alexander,39006.0
19251,34338693,2015-12-17 15:49:03,3,549,How to parse csv file and compute stats based ...,5,3,NaN,Thy,41.0,janrn,53.0
20980,35329206,2016-02-11 01:25:41,2,91,Strip all characters from column header before...,7,0,NaN,Stefano Potter,932.0,DSM,164692.0
21227,36072686,2016-03-17 22:17:17,0,113,"If a string is present in the word, make it NA...",5,2,NaN,Observer,176.0,NaN,NaN
21313,36431659,2016-04-05 16:09:46,0,134,filter numpy array of datetimes by frequency o...,5,3,NaN,WRJ,98.0,NaN,NaN
21404,36148386,2016-03-22 07:24:39,0,374,check if one string contains another substring...,5,1,NaN,M PAUL,528.0,Kaustav Datta,359.0
21431,35344622,2016-02-11 16:21:30,1,143,calculate duplicate average python,5,2,1.0,Condo_programmer,82.0,Goyo,5275.0
21442,35212206,2016-02-04 21:43:11,0,149,"How to fill an array ""column"" with calculated ...",6,0,NaN,DyTech,36.0,NaN,NaN
21462,36382248,2016-04-03 06:21:33,1,314,How to find rows with column values having a p...,5,1,NaN,Satya,882.0,Sergey Bushmanov,2279.0
22320,36926119,2016-04-28 21:51:14,9,392,Get date quantiles in pandas,6,2,NaN,Jeremy,728.0,NaN,NaN
22415,37490717,2016-05-27 19:08:50,3,96,Pandas: apply operation to repetitive columns ...,5,0,1.0,FooBar,5143.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
50452,46229738,2017-09-14 23:49:29,2,40,Adding rows based on previous condition in ano...,5,1,NaN,SalN85,41.0,NaN,NaN
50580,46349345,2017-09-21 16:56:20,0,60,Compare two columns and get unique values in p...,5,0,NaN,Marcos Santana,75.0,Alexey Trofimov,533.0
50615,46007571,2017-09-01 20:26:23,8,115,"with python, select repeated elements longer t...",5,0,2.0,Jonathan Pacheco,88.0,NaN,NaN
50704,46185965,2017-09-12 22:01:39,11,657,How can I map the headers to columns in pandas?,5,0,3.0,sunny,93.0,NaN,NaN
50735,46303356,2017-09-19 14:41:18,2,162,pandas - Count streak of values higher/lower t...,5,0,1.0,Bruno Vieira,32.0,benjwadams,750.0
50803,46331210,2017-09-20 20:25:34,8,253,How to assign count of unique values to the re...,5,0,4.0,Doubt Dhanabalu,113.0,Vaishali,10335.0
51148,46148302,2017-09-11 04:41:31,1,65,What is the best way to access values in a dat...,5,0,0.0,chrisckwong821,417.0,cs,51675.0
51198,46281209,2017-09-18 13:59:48,2,54,Return All Values of Column A and Put them in ...,7,0,NaN,EEPBAH,47.0,Divakar,128094.0
51257,46201618,2017-09-13 15:37:03,3,45,Pandas: The best way to create new Frame by sp...,5,0,NaN,Renton,34.0,Zero,25935.0
51654,46870692,2017-10-22 05:09:30,8,555,How to find first local maximum for every group?,5,3,3.0,user1357015,2853.0,piRSquared,102658.0
51798,46653647,2017-10-09 19:26:05,1,349,Pandas: filter on multiple columns,5,3,1.0,M. K. Hunter,1127.0,NaN,NaN
51821,46912379,2017-10-24 13:53:38,2,48,DataFrame transpose from List,5,0,NaN,Josh,118.0,jezrael,186894.0
51968,46655202,2017-10-09 21:24:37,4,62,Probability of a Pandas value,5,1,1.0,Seano314,336.0,piRSquared,102658.0
52013,47061564,2017-11-01 18:40:36,5,60,How to create strings from dataframe columns e...,5,0,NaN,hernanavella,1890.0,Scott Boston,23611.0
52254,46898334,2017-10-23 20:52:59,0,62,How do I avoid a loop with Python/Pandas to bu...,5,3,NaN,GC123,40.0,GC123,40.0
52273,47055259,2017-11-01 12:48:36,3,83,Python dict group and sum multiple values,5,7,1.0,Ajay Kumar,178.0,cs,51675.0
52904,46958559,2017-10-26 15:44:10,0,70,"Finding a maximum value in a dictionary, and d...",6,0,NaN,Altheman,33.0,Yuriy Savchenko,106.0
52967,46816226,2017-10-18 17:48:28,7,122,Selecting single values from pandas dataframe ...,5,2,NaN,edager,81.0,MaxU,83732.0
53088,46519539,2017-10-02 04:31:57,6,186,How to select all non-NaN columns and non-NaN ...,5,0,NaN,Fang,308.0,Bharath,12877.0
53365,46697440,2017-10-11 20:57:28,2,43,Add Virgula in front of each word,5,1,NaN,Rivaldo Hater,18.0,MedAli,5232.0
53418,46499582,2017-09-30 04:30:26,2,75,How to make list of list from dataframe pandas?,5,0,NaN,Satrio Adi Prabowo,98.0,jezrael,186894.0
53423,46585640,2017-10-05 12:28:22,1,47,Get one or more column values as a list from P...,5,0,NaN,pyd,416.0,jezrael,186894.0
53433,47028601,2017-10-31 05:45:19,2,38,how to remove 0's in a datacolumn in a datafra...,5,5,NaN,pyd,416.0,NaN,NaN
53752,46557074,2017-10-04 04:33:51,0,61,Grouping similar values in a dictionary,5,0,NaN,ConstantLearner,3.0,Jeremy McGibbon,1121.0
53983,46882557,2017-10-23 05:36:29,3,87,How to split columns faster in python?,5,2,NaN,Steve Xu,23.0,Akshay Hegde,11362.0
54384,47542980,2017-11-29 00:05:31,2,43,Pandas groupby - set of different values,5,0,NaN,Baron Yugovich,260.0,jezrael,186894.0
54463,47334404,2017-11-16 16:16:03,0,31,Empty DataFrame doesn't admit its empty,6,2,NaN,Legit Stack,402.0,cs,51675.0
54475,47117982,2017-11-05 03:49:11,1,86,insert missing category for each group in pand...,6,3,1.0,muon,1514.0,cs,51675.0
55444,47213771,2017-11-10 00:13:38,1,247,column operation in csv [python],5,13,1.0,Alex,17.0,Bharath,12877.0
55879,47147414,2017-11-06 23:13:02,0,44,Filter Pandas Dataframe using an arbitrary num...,6,2,NaN,speedyturkey,41.0,James,7279.0

### Exercise 7
<span  style="color:green; font-size:16px">Find the inverse of exercise 6. Verify your results by adding the rows of both returned Series to see if it matches the number of rows of the original</span>

In [31]:
so[~(so['answercount'].between(5,10) & (so['viewcount'] < 1000))]

,id,creationdate,score,viewcount,title,answercount,commentcount,favoritecount,quest_name,quest_rep,ans_name,ans_rep
0,5486226,2011-03-30 12:26:50,4,2113,Rolling median in python,3,4,1.0,yueerhu,125.0,Mike Pennington,26995.0
1,5515021,2011-04-01 14:50:44,8,7015,Compute a compounded return series in Python,3,6,7.0,Jason Strimpel,3301.0,Mike Pennington,26995.0
2,5558607,2011-04-05 21:13:50,2,7392,Sort a pandas DataMatrix in ascending order,2,0,1.0,Jason Strimpel,3301.0,Wes McKinney,43310.0
3,6467832,2011-06-24 12:31:45,9,13056,How to get the correlation between two timeser...,1,0,7.0,user814005,117.0,Wes McKinney,43310.0
4,7577546,2011-09-28 01:58:38,9,2488,"Using pandas, how do I subsample a large DataF...",1,0,5.0,Uri Laserson,958.0,HYRY,54137.0
5,7766400,2011-10-14 10:33:54,2,977,Pandas + Django + mod_wsgi + virtualenv,1,2,1.0,Evan Davey,100.0,NaN,NaN
6,7776679,2011-10-15 08:21:17,25,28159,append two data frame with pandas,2,7,4.0,Jean-Pat,882.0,Wes McKinney,43310.0
7,7813132,2011-10-18 20:16:12,10,18917,Convert array of string (category) to array of...,3,0,6.0,Jean-Pat,882.0,Wes McKinney,43310.0
8,7837722,2011-10-20 14:46:14,201,223746,What is the most efficient way to loop through...,8,3,115.0,Muppet,1563.0,Nick Crawford,2779.0
9,8270129,2011-11-25 13:55:02,1,891,Pandas Panel for share portfolio,1,0,NaN,Evan Davey,100.0,Wes McKinney,43310.0
10,8273092,2011-11-25 18:39:02,1,2333,python: pandas install errors,2,0,NaN,codingknob,2279.0,codingknob,2279.0
11,8451327,2011-12-09 20:27:24,1,2435,Python map() function output into Pandas DataF...,1,0,1.0,briant57,6.0,NaN,NaN
12,8842114,2012-01-12 20:52:41,8,4009,How to apply slicing on pandas Series of strings,3,2,1.0,davidbrai,934.0,Rob Wouters,10083.0
13,8914992,2012-01-18 18:00:16,4,961,indexing several csv files with pandas from re...,1,1,1.0,user248237dfsf,19244.0,Wes McKinney,43310.0
14,8916302,2012-01-18 19:41:27,29,20614,selecting across multiple columns with python ...,3,0,14.0,user248237dfsf,19244.0,Wes McKinney,43310.0
15,8957175,2012-01-21 22:12:10,1,1134,DataFrame to Panel indexed by nonunique column...,1,4,NaN,Jacob Mick,215.0,Wes McKinney,43310.0
16,8966871,2012-01-23 03:21:00,0,287,Running Python/Numpy/Pandas on older secure co...,0,3,NaN,Casey,16.0,NaN,NaN
17,8991709,2012-01-24 17:59:53,136,16783,Why are pandas merges in python faster than da...,3,16,60.0,Zach,12484.0,Matt Dowle,41275.0
18,9189425,2012-02-08 07:42:11,2,1514,Pandas DataFrame serialization,1,0,NaN,rezusr,33.0,Wes McKinney,43310.0
19,9283166,2012-02-14 19:42:19,3,8766,Plotting a stock chart with Pandas in IPython,2,1,1.0,Ben McCann,8712.0,Appleman1234,13272.0
20,9339184,2012-02-18 06:26:50,2,1234,"Python: Pandas, Dataframe, Convert 1column dat...",2,0,1.0,notilas,330.0,jfs,222208.0
21,9421412,2012-02-23 21:14:19,2,892,Initializing pandas dataframes with and withou...,1,0,1.0,benjaminmgross,828.0,Wes McKinney,43310.0
22,9516422,2012-03-01 12:40:33,2,1106,"nan, floats and ints",1,0,NaN,Jose Blanca,60.0,Wes McKinney,43310.0
23,9550867,2012-03-03 23:42:13,5,4148,Python Pandas Pivot Table,2,0,4.0,user1026987,45.0,BioGeek,9974.0
24,9555635,2012-03-04 14:25:36,19,6604,Open source Enthought Python alternative,8,5,6.0,tshauck,5957.0,ogrisel,24990.0
25,9556892,2012-03-04 16:58:45,6,5217,Pandas DataFrame - desired index has duplicate...,1,0,3.0,kavu,55.0,Wes McKinney,43310.0
26,9588331,2012-03-06 17:01:47,22,10038,Simple cross-tabulation in pandas,2,3,5.0,Jon Clements,85944.0,Jeff Hammerbacher,3172.0
27,9597681,2012-03-07 07:56:37,3,3060,read_csv converters for unkown columns,1,0,NaN,Jose Blanca,60.0,Wes McKinney,43310.0
28,9621362,2012-03-08 16:42:30,7,6417,how do I compute a weighted moving average usi...,1,2,1.0,thatshowthe,100.0,Wes McKinney,43310.0
29,9641916,2012-03-09 22:36:52,7,5519,Python Pandas: can't find numpy.core.multiarra...,4,2,NaN,Dylan Cutler,41.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
56368,47561788,2017-11-29 21:05:57,2,20,How to perform an operation on specific column...,2,0,NaN,spc963,11.0,NaN,NaN
56369,47561901,2017-11-29 21:12:22,0,30,Python Pandas Combining 2 df by keys,1,0,NaN,TylerNG,10.0,Wen,21789.0
56370,47580397,2017-11-30 18:35:15,1,30,join/combine similar columns in python,2,0,NaN,TylerNG,10.0,Wen,21789.0
56371,47604151,2017-12-02 03:03:39,0,24,Annotating bar chart in pandas,2,1,NaN,Sarah,3.0,NaN,NaN
56372,47603274,2017-12-02 00:20:02,0,36,Plotting a bar chart comparing years in pandas,1,12,NaN,Sarah,3.0,user32185,308.0
56373,47610875,2017-12-02 18:00:31,0,16,Sorting float values in a groupby in ascending...,1,0,NaN,Sarah,3.0,NaN,NaN
56374,47613361,2017-12-02 22:38:38,0,8,How to remove duplicate markers in gmaps in pa...,0,0,NaN,Sarah,3.0,NaN,NaN
56375,47565631,2017-11-30 03:58:37,-1,28,compare a timestamp index with a fixed date in...,1,1,NaN,ian_chan,1.0,NaN,NaN
56376,47566201,2017-11-30 05:00:47,0,17,Issue with Python while converting excel into ...,1,1,NaN,Nihanth reddy,3.0,alex h,91.0
56377,47570069,2017-11-30 09:34:05,-4,28,Python-How to partition these data in DataFrame?,0,1,1.0,Data_Miner,1.0,NaN,NaN
56378,47571309,2017-11-30 10:35:46,0,32,Pandas - Compare two dataframes and replace va...,1,1,NaN,PyuPyuPyu,1.0,NaN,NaN
56379,47572121,2017-11-30 11:15:01,0,23,Dropping rows in a pandas dataframe,1,4,NaN,melania,1.0,NaN,NaN
56380,47573928,2017-11-30 12:48:40,1,28,Secondary x and y axes when merging 2 chart ty...,0,3,NaN,Golanu Delamare,6.0,NaN,NaN
56381,47577303,2017-11-30 15:46:37,1,18,pandas DataFrame: Get previous month value whe...,1,1,1.0,Somchai Kira,8.0,Wen,21789.0
56382,47581808,2017-11-30 20:12:18,3,27,Fill Down a value in Pandas once it has occurred,1,1,0.0,Dani Freidus,18.0,Scott Boston,23611.0
56383,47578774,2017-11-30 17:01:19,0,15,Python: How to efficiently do operations using...,2,1,NaN,alejandro pareja,1.0,NaN,NaN
56384,47584263,2017-11-30 23:22:32,1,27,Slicing a pandas dataframe into rows with a ce...,1,2,NaN,Larry,8.0,Abhishek,126.0
56385,47585554,2017-12-01 02:00:10,2,14,How to separate out nested json values in pand...,0,0,NaN,gotham_tramp,11.0,NaN,NaN
56386,47592169,2017-12-01 11:13:26,-4,27,Regex replacement does not work on pandas data...,0,9,NaN,Judit Anna Trendl,1.0,NaN,NaN
56387,47592512,2017-12-01 11:35:31,0,17,Adding column in pandas with several condition...,1,0,NaN,Henry Blauth,3.0,jezrael,186894.0
56388,47593883,2017-12-01 12:55:05,1,14,Trying to populate a column in a dataframe wit...,1,0,NaN,bamb0ocha,8.0,jezrael,186894.0
56389,47594932,2017-12-01 13:53:15,0,18,Row-wise Interpolation in dataframe using inte...,1,0,NaN,Rolo,1.0,NaN,NaN
56390,47600529,2017-12-01 19:50:19,0,29,Mean of values in pandas dataframe,3,3,NaN,Bartek Leks,3.0,Lucas Dresl,59.0
56391,47601533,2017-12-01 21:09:16,1,22,Getting a crime 'count' from pandas big dataset,1,1,NaN,Leena,6.0,NaN,NaN
56392,47610316,2017-12-02 17:02:03,1,23,python module 'pandas' has no attribute 'plott...,1,1,NaN,Harry,6.0,NaN,NaN
56393,47606711,2017-12-02 10:07:13,0,17,slow loop using panda,1,1,NaN,xxyy,3.0,user32185,308.0
56394,47607549,2017-12-02 11:41:59,-1,41,Convert Numeric percentage values into String,1,2,NaN,Ajeet,1.0,NaN,NaN
56395,47609325,2017-12-02 15:16:26,0,33,Filtering for criteria in Pandas Dataframe Python,2,4,NaN,NthA,1.0,NaN,NaN
56396,47609598,2017-12-02 15:45:40,2,18,Python Multi index function with order preserv...,1,0,NaN,Fan LUO,13.0,erocoar,209.0
56397,47611969,2017-12-02 19:59:09,-6,19,Converting Pandas Dataframe to R object,0,0,NaN,Soorya Paturi,1.0,NaN,NaN

### Use the employee data for the rest of the exercises

In [32]:
employee = pd.read_csv('employee.csv')
employee.head()

,POSITION_TITLE,DEPARTMENT,BASE_SALARY,RACE,EMPLOYMENT_TYPE,GENDER,HIRE_DATE,JOB_DATE
0,ASSISTANT DIRECTOR (EX LVL),Municipal Courts Department,121862.0,Hispanic/Latino,Full Time,Female,2006-06-12,2012-10-13
1,LIBRARY ASSISTANT,Library,26125.0,Hispanic/Latino,Full Time,Female,2000-07-19,2010-09-18
2,POLICE OFFICER,Houston Police Department-HPD,45279.0,White,Full Time,Male,2015-02-03,2015-02-03
3,ENGINEER/OPERATOR,Houston Fire Department (HFD),63166.0,White,Full Time,Male,1982-02-08,1991-05-25
4,ELECTRICIAN,General Services Department,56347.0,White,Full Time,Male,1989-06-19,1994-10-22

### Exercise 8
<span  style="color:green; font-size:16px">Find all the **`Black or African American`** females that work in the **`Houston Police Department-HPD`**</span>

In [36]:
employee[employee['RACE'] == 'Black or African American']

,POSITION_TITLE,DEPARTMENT,BASE_SALARY,RACE,EMPLOYMENT_TYPE,GENDER,HIRE_DATE,JOB_DATE
5,SENIOR POLICE OFFICER,Houston Police Department-HPD,66614.0,Black or African American,Full Time,Male,1984-11-26,2005-03-26
11,"CHIEF PHYSICIAN,MD",Health & Human Services,180416.0,Black or African American,Full Time,Male,1987-05-22,1999-08-28
12,CUSTOMER SERVICE REPRESENTATIVE I,Public Works & Engineering-PWE,30347.0,Black or African American,Full Time,Male,2015-11-16,2015-11-16
13,PUBLIC HEALTH INVESTIGATOR SUPERVISOR,Health & Human Services,55269.0,Black or African American,Full Time,Male,1999-10-20,2001-05-19
14,POLICE SERGEANT,Houston Police Department-HPD,77076.0,Black or African American,Full Time,Male,2001-06-04,2015-05-25
15,SENIOR POLICE OFFICER,Houston Police Department-HPD,NaN,Black or African American,Full Time,Male,1995-01-30,2015-02-14
21,FIRE FIGHTER,Houston Fire Department (HFD),57815.0,Black or African American,Full Time,Male,2001-03-20,2003-01-04
22,INSPECTOR,Public Works & Engineering-PWE,43264.0,Black or African American,Full Time,Male,2015-01-05,2015-01-05
24,POLICE OFFICER,Houston Police Department-HPD,52514.0,Black or African American,Full Time,Male,2010-03-29,2011-03-29
29,UTILITY WORKER,Public Works & Engineering-PWE,29557.0,Black or African American,Full Time,Male,2014-01-21,2014-01-21
32,SENIOR ACCOUNTANT,Finance,46963.0,Black or African American,Full Time,Male,1991-02-11,2016-02-13
35,DENTAL ASSISTANT,Health & Human Services,34923.0,Black or African American,Full Time,Female,1982-04-05,1990-11-03
39,INVENTORY MANAGEMENT SUPERVISOR,Public Works & Engineering-PWE,38168.0,Black or African American,Full Time,Male,2008-09-08,2015-04-11
46,FIELD SUPERVISOR,Public Works & Engineering-PWE,43597.0,Black or African American,Full Time,Male,2008-06-30,2013-05-25
47,CUSTOMER SERVICE SUPERVISOR,Public Works & Engineering-PWE,43618.0,Black or African American,Full Time,Female,2007-12-15,2015-11-07
55,ADMINISTRATIVE ASSOCIATE,Houston Police Department-HPD,34757.0,Black or African American,Full Time,Female,2005-05-11,2008-05-17
57,SEMI-SKILLED LABORER,Solid Waste Management,27622.0,Black or African American,Full Time,Male,2015-08-31,2015-08-31
59,LABORER,Houston Airport System (HAS),28163.0,Black or African American,Full Time,Male,2013-08-19,2013-08-19
61,IT PROJECT MANAGER,Houston Fire Department (HFD),96668.0,Black or African American,Full Time,Female,1998-04-07,2006-01-28
63,LABORER,Public Works & Engineering-PWE,26125.0,Black or African American,Full Time,Female,2001-05-21,2001-05-21
69,SENIOR POLICE OFFICER,Houston Police Department-HPD,66614.0,Black or African American,Full Time,Male,1991-07-31,2012-02-04
73,ADMINISTRATIVE SPECIALIST,Human Resources Dept.,55939.0,Black or African American,Full Time,Female,2011-12-19,2013-11-23
74,SENIOR SIDELOADER OPERATOR,Solid Waste Management,38459.0,Black or African American,Full Time,Male,2004-09-07,2005-07-09
79,CUSTOMER SERVICE REPRESENTATIVE I,Public Works & Engineering-PWE,30347.0,Black or African American,Full Time,Female,1999-09-27,2007-02-27
80,ADMINISTRATIVE SPECIALIST,Fleet Management Department,50249.0,Black or African American,Full Time,Female,2007-04-30,2012-09-29
84,LICENSED VOCATIONAL NURSE,Health & Human Services,48984.0,Black or African American,Full Time,Female,2000-12-27,2000-12-27
87,SENIOR CONTRACT ADMINISTRATOR,Municipal Courts Department,79143.0,Black or African American,Full Time,Male,2009-09-08,2009-09-08
88,FIELD SUPERVISOR,Public Works & Engineering-PWE,53373.0,Black or African American,Full Time,Male,1996-03-04,2005-04-16
90,9-1-1 TELECOMMUNICATOR,Houston Emergency Center (HEC),32240.0,Black or African American,Full Time,Male,2006-06-26,2006-06-26
92,CUSTODIAN,Parks & Recreation,26125.0,Black or African American,Full Time,Female,1993-10-02,1993-10-02
...,...,...,...,...,...,...,...,...
1929,POLICE SERGEANT,Houston Police Department-HPD,81239.0,Black or African American,Full Time,Male,1994-04-11,2011-09-03
1930,LABORER,Houston Airport System (HAS),26125.0,Black or African American,Full Time,Female,2007-08-13,2007-08-13
1933,HUMAN RESOURCES MANAGER,Human Resources Dept.,74435.0,Black or African American,Full Time,Female,2004-10-11,2015-05-23
1934,SENIOR CUSTOMER SERVICE CLERK,Houston Police Department-HPD,33550.0,Black or African American,Full Time,Female,2014-08-29,2014-08-29
1937,CUSTOMER SERVICE CLERK,Houston Police Department-HPD,26250.0,Black or African American,Full Time,Female,2007-09-14,2007-09-14
1939,SENIOR PLAN ANALYST,Public Works & Engineering-PWE,51584.0,Black or African American,Full Time,Male,2015-09-15,2015-09-15
1940,SENIOR POLICE OFFICER,Houston Police Department-HPD,66614.0,Black or African American,Full Time,Female,1995-11-06,2008-05-31
1941,FIELD SUPERVISOR,Public Works & Engineering-PWE,41267.0,Black or African American,Full Time,Male,2006-07-10,2015-09-12
1944,DIVISION MANAGER,Public Works & Engineering-PWE,93089.0,Black or African American,Full Time,Female,2005-05-16,2014-08-30
1947,ADMINISTRATIVE SPECIALIST,Public Works & Engineering-PWE,56489.0,Black or African American,Full Time,Male,2001-10-16,2004-02-07
1949,POLICE OFFICER,Houston Police Department-HPD,47650.0,Black or African American,Full Time,Female,2012-04-16,2013-04-16
1952,9-1-1 TELECOMMUNICATOR,Houston Emergency Center (HEC),39104.0,Black or African American,Full Time,Female,2005-05-31,2005-05-31
1955,JAIL ATTENDANT,Houston Police Department-HPD,37461.0,Black or African American,Full Time,Female,2008-06-02,2008-06-02
1956,UTILITY WORKER,Public Works & Engineering-PWE,37606.0,Black or African American,Full Time,Male,2006-01-30,2006-01-30
1959,ADMINISTRATIVE SPECIALIST,Houston Fire Department (HFD),52000.0,Black or African American,Full Time,Female,2007-02-12,2016-02-13
1960,INSPECTOR,Public Works & Engineering-PWE,43264.0,Black or African American,Full Time,Male,2015-07-13,2015-07-13
1963,SENIOR COMMUNITY LIAISON,Library,51542.0,Black or African American,Full Time,Female,2015-11-02,2015-11-02
1964,ADMINISTRATIVE SPECIALIST,Houston Police Department-HPD,47996.0,Black or African American,Full Time,Female,2009-11-16,2016-01-30
1967,STAFF ANALYST,Human Resources Dept.,65000.0,Black or African American,Full Time,Female,1995-10-30,2016-02-13
1968,CUSTOMER SERVICE CLERK,Library,NaN,Black or African American,Part Time,Female,2013-08-05,2013-08-05
1974,SENIOR POLICE OFFICER,Houston Police Department-HPD,66614.0,Black or African American,Full Time,Male,1993-04-12,2013-10-12
1978,POLICE SERVICE OFFICER,Houston Police Department-HPD,27914.0,Black or African American,Full Time,Female,2011-10-14,2014-03-01
1981,CAPTAIN,Houston Fire Department (HFD),70181.0,Black or African American,Full Time,Male,1994-08-29,2013-09-04
1982,FIRE FIGHTER,Houston Fire Department (HFD),55437.0,Black or African American,Full Time,Male,2004-01-05,2005-01-14
1983,ADMINISTRATIVE SPECIALIST,Admn. & Regulatory Affairs,55172.0,Black or African American,Full Time,Female,2006-10-16,2006-10-16
1985,TRUCK DRIVER,Fleet Management Department,30222.0,Black or African American,Full Time,Male,2013-06-10,2015-08-01
1989,EQUIPMENT WORKER,Public Works & Engineering-PWE,37211.0,Black or African American,Full Time,Male,1984-12-11,2004-09-18
1990,BUILDING MAINTENANCE SUPERVISOR,Parks & Recreation,30347.0,Black or African American,Full Time,Female,1995-10-14,2010-03-20
1994,POLICE CAPTAIN,Houston Police Department-HPD,104455.0,Black or African American,Full Time,Male,1983-02-07,2004-07-08
1996,COMMUNICATIONS CAPTAIN,Houston Fire Department (HFD),66523.0,Black or African American,Full Time,Male,2003-09-02,2013-10-06

### Exercise 9
<span  style="color:green; font-size:16px">Find the females that have a salary over 100,000 OR males with salary under 50,000</span>

In [40]:
employee[(employee['GENDER'] == 'Female') & (employee['BASE_SALARY'] > 100000)]

,POSITION_TITLE,DEPARTMENT,BASE_SALARY,RACE,EMPLOYMENT_TYPE,GENDER,HIRE_DATE,JOB_DATE
0,ASSISTANT DIRECTOR (EX LVL),Municipal Courts Department,121862.0,Hispanic/Latino,Full Time,Female,2006-06-12,2012-10-13
66,"PUBLIC HEALTH DENTIST,DDS",Health & Human Services,100791.0,White,Full Time,Female,2015-12-28,2015-12-28
237,ASSISTANT DIRECTOR (EXECUTIVE LEVEL),Admn. & Regulatory Affairs,130416.0,Asian/Pacific Islander,Full Time,Female,2002-05-24,2013-07-20
366,DEPUTY ASSISTANT DIRECTOR (EXECUTIVE LEV,Mayor's Office,110000.0,White,Full Time,Female,2014-05-13,2014-05-13
522,DEPUTY ASSISTANT DIRECTOR (EX LVL),Houston Airport System (HAS),110686.0,Black or African American,Full Time,Female,2011-11-07,2011-11-07
591,SENIOR STAFF ANALYST,Public Works & Engineering-PWE,105503.0,White,Full Time,Female,1991-08-05,2015-05-23
605,DEPUTY DIRECTOR (EXECUTIVE LEVEL),Houston Airport System (HAS),150416.0,Black or African American,Full Time,Female,2013-06-10,2013-06-10
742,SENIOR ASSISTANT CITY ATTORNEY II,Legal Department,150416.0,White,Full Time,Female,2012-06-11,2013-07-06
793,DIVISION MANAGER,Houston Airport System (HAS),100873.0,White,Full Time,Female,2005-10-12,2005-10-12
815,SENIOR ASSISTANT CITY ATTORNEY II,Legal Department,126115.0,Hispanic/Latino,Full Time,Female,1996-10-30,2004-10-02
1055,JUDGE OF MUNICIPAL COURTS,Municipal Courts Department,103756.0,White,Full Time,Female,2008-11-12,2011-04-16
1067,ASSISTANT DIRECTOR-PUBLIC WORKS (EXECUTI,Public Works & Engineering-PWE,146141.0,White,Full Time,Female,1998-07-20,2014-12-20
1118,POLICE CAPTAIN,Houston Police Department-HPD,104455.0,White,Full Time,Female,1991-08-05,2011-10-05
1165,DEPUTY ASSISTANT DIRECTOR (EXECUTIVE LEV,Library,107763.0,Black or African American,Full Time,Female,1993-11-16,2014-03-15
1232,DEPUTY DIRECTOR-PUBLIC WORKS (EXECUTIVE,Public Works & Engineering-PWE,178331.0,White,Full Time,Female,1991-02-12,2005-05-14
1437,"BUREAU CHIEF,PUBLIC HEALTH",Health & Human Services,103270.0,Black or African American,Full Time,Female,1985-10-30,2015-12-05
1560,SENIOR ASSISTANT CITY ATTORNEY II,Legal Department,122220.0,White,Full Time,Female,2005-09-12,2012-07-21
1778,DIVISION MANAGER,Human Resources Dept.,110547.0,Asian/Pacific Islander,Full Time,Female,2000-01-29,2010-12-25
1784,JUDGE OF MUNICIPAL COURTS,Municipal Courts Department,117176.0,White,Full Time,Female,1999-09-25,2010-11-13
1943,ASSISTANT DIRECTOR (EXECUTIVE LEVEL),Houston Airport System (HAS),128606.0,White,Full Time,Female,1993-02-22,2004-09-04
1946,SENIOR ASSISTANT CITY ATTORNEY II,Legal Department,117831.0,Asian/Pacific Islander,Full Time,Female,2005-07-18,2012-07-21

### Exercise 10
<span  style="color:green; font-size:16px">Find the females in the following departments with salary over 60,000 (Parks & Recreation, Solid Waste Management, Fleet Management Department, Library)  </span>

In [42]:
employee[(employee['BASE_SALARY'] > 60000) & (employee['DEPARTMENT'].isin(['Parks & Recreation', 'Solid Waste Management', 'Fleet Management Department', 'Library']))]

,POSITION_TITLE,DEPARTMENT,BASE_SALARY,RACE,EMPLOYMENT_TYPE,GENDER,HIRE_DATE,JOB_DATE
124,SOLID WASTE SUPERVISOR,Solid Waste Management,61428.0,Black or African American,Full Time,Male,1990-09-18,2004-12-11
249,STAFF ANALYST,Solid Waste Management,75041.0,Hispanic/Latino,Full Time,Female,1992-10-21,2015-07-18
412,ADMINISTRATIVE COORDINATOR,Library,79302.0,Hispanic/Latino,Full Time,Female,2003-12-22,2005-04-02
476,ADMINISTRATIVE SUPERVISOR,Library,60632.0,Black or African American,Full Time,Female,1993-05-10,2014-11-08
561,ASSISTANT DIRECTOR (EXECUTIVE LEVEL),Fleet Management Department,125884.0,White,Full Time,Male,2009-08-24,2016-02-13
892,LIBRARIAN III,Library,61454.0,White,Full Time,Female,1998-11-02,2002-06-15
1165,DEPUTY ASSISTANT DIRECTOR (EXECUTIVE LEV,Library,107763.0,Black or African American,Full Time,Female,1993-11-16,2014-03-15
1197,SUPERINTENDENT,Parks & Recreation,72280.0,Hispanic/Latino,Full Time,Male,1994-03-21,2011-08-06
1256,ADMINISTRATION MANAGER,Solid Waste Management,77966.0,White,Full Time,Male,1991-11-12,2011-11-12
1469,DIVISION MANAGER,Parks & Recreation,85055.0,White,Full Time,Male,1997-06-10,2013-04-13
1484,SENIOR STAFF ANALYST (EXECUTIVE LEVEL),Parks & Recreation,83916.0,Hispanic/Latino,Full Time,Female,1999-07-26,2013-08-31
1559,DEPUTY ASSISTANT DIRECTOR (EXE LEV),Solid Waste Management,110005.0,Black or African American,Full Time,Male,2005-10-03,2011-10-01
1666,WEB DESIGNER,Library,60840.0,Black or African American,Full Time,Male,1999-06-23,2006-06-10

### Exercise 11
<span  style="color:green; font-size:16px">Find all the males with salary over 100,000. Return only the race, gender and salary columns</span>

In [51]:
employee.loc[(employee['GENDER'] == 'Male') & (employee['BASE_SALARY'] > 100000),['RACE','GENDER','BASE_SALARY']]

                           RACE GENDER  BASE_SALARY
8                         White   Male     107962.0
11    Black or African American   Male     180416.0
43              Hispanic/Latino   Male     165216.0
169                       White   Male     120916.0
178                       White   Male     210588.0
186                       White   Male     110881.0
217      Asian/Pacific Islander   Male     102019.0
297                       White   Male     141948.0
299   Black or African American   Male     100228.0
416                       White   Male     104455.0
561                       White   Male     125884.0
593   Black or African American   Male     275000.0
708   Black or African American   Male     130585.0
713                       White   Male     120750.0
719      Asian/Pacific Islander   Male     163228.0
767                       White   Male     199596.0
855   Black or African American   Male     186192.0
867                       White   Male     126343.0
899                       White   Male     105354.0
1030                      White   Male     120799.0
1072            Hispanic/Latino   Male     142006.0
1090     Asian/Pacific Islander   Male     102297.0
1100                      White   Male     103686.0
1166     Asian/Pacific Islander   Male     124861.0
1234  Black or African American   Male     104389.0
1372     Asian/Pacific Islander   Male     113930.0
1494                      White   Male     140416.0
1559  Black or African American   Male     110005.0
1660                      White   Male     104455.0
1679                      White   Male     103776.0
1724                      White   Male     103427.0
1817                      White   Male     104455.0
1832     Asian/Pacific Islander   Male     114671.0
1873            Hispanic/Latino   Male     115416.0
1988                      White   Male     124115.0
1994  Black or African American   Male     104455.0

### Exercise 12
<span  style="color:green; font-size:16px">Select all salaries as a Series in a separate variable. From this series select all salaries under 25,000</span>

In [55]:
serie = employee['BASE_SALARY']
employee[serie >= 25000]

,POSITION_TITLE,DEPARTMENT,BASE_SALARY,RACE,EMPLOYMENT_TYPE,GENDER,HIRE_DATE,JOB_DATE
0,ASSISTANT DIRECTOR (EX LVL),Municipal Courts Department,121862.0,Hispanic/Latino,Full Time,Female,2006-06-12,2012-10-13
1,LIBRARY ASSISTANT,Library,26125.0,Hispanic/Latino,Full Time,Female,2000-07-19,2010-09-18
2,POLICE OFFICER,Houston Police Department-HPD,45279.0,White,Full Time,Male,2015-02-03,2015-02-03
3,ENGINEER/OPERATOR,Houston Fire Department (HFD),63166.0,White,Full Time,Male,1982-02-08,1991-05-25
4,ELECTRICIAN,General Services Department,56347.0,White,Full Time,Male,1989-06-19,1994-10-22
5,SENIOR POLICE OFFICER,Houston Police Department-HPD,66614.0,Black or African American,Full Time,Male,1984-11-26,2005-03-26
6,ENGINEER,Public Works & Engineering-PWE,71680.0,Asian/Pacific Islander,Full Time,Male,2012-03-26,2012-03-26
7,CARPENTER,Houston Airport System (HAS),42390.0,White,Full Time,Male,2013-11-04,2013-11-04
8,DEPUTY ASSISTANT DIRECTOR (EXECUTIVE LEV,Public Works & Engineering-PWE,107962.0,White,Full Time,Male,1993-11-15,2013-01-05
9,AIRPORT OPERATIONS COORDINATOR,Houston Airport System (HAS),44616.0,NaN,Full Time,Male,2016-03-14,2016-03-14
10,FIRE FIGHTER,Houston Fire Department (HFD),52644.0,Hispanic/Latino,Full Time,Male,2007-05-21,2008-11-15
11,"CHIEF PHYSICIAN,MD",Health & Human Services,180416.0,Black or African American,Full Time,Male,1987-05-22,1999-08-28
12,CUSTOMER SERVICE REPRESENTATIVE I,Public Works & Engineering-PWE,30347.0,Black or African American,Full Time,Male,2015-11-16,2015-11-16
13,PUBLIC HEALTH INVESTIGATOR SUPERVISOR,Health & Human Services,55269.0,Black or African American,Full Time,Male,1999-10-20,2001-05-19
14,POLICE SERGEANT,Houston Police Department-HPD,77076.0,Black or African American,Full Time,Male,2001-06-04,2015-05-25
17,POLICE SERGEANT,Houston Police Department-HPD,81239.0,White,Full Time,Male,1995-06-19,2007-03-03
18,MAINTENANCE MECHANIC III,General Services Department,40581.0,Hispanic/Latino,Full Time,Male,2008-12-29,2008-12-29
19,SENIOR POLICE OFFICER,Houston Police Department-HPD,66614.0,White,Full Time,Male,1992-02-17,2007-07-28
20,SENIOR INSPECTOR,Public Works & Engineering-PWE,61506.0,White,Full Time,Male,2009-04-06,2015-04-11
21,FIRE FIGHTER,Houston Fire Department (HFD),57815.0,Black or African American,Full Time,Male,2001-03-20,2003-01-04
22,INSPECTOR,Public Works & Engineering-PWE,43264.0,Black or African American,Full Time,Male,2015-01-05,2015-01-05
23,FIRE FIGHTER,Houston Fire Department (HFD),55437.0,White,Full Time,Male,2004-03-15,2005-03-26
24,POLICE OFFICER,Houston Police Department-HPD,52514.0,Black or African American,Full Time,Male,2010-03-29,2011-03-29
25,SENIOR POLICE OFFICER,Houston Police Department-HPD,61643.0,White,Full Time,Male,1999-08-23,2012-03-31
27,SENIOR POLICE OFFICER,Houston Police Department-HPD,66614.0,White,Full Time,Male,1990-01-12,2004-07-03
28,POLICE SERGEANT,Houston Police Department-HPD,81239.0,White,Full Time,Male,1978-03-13,1994-09-10
29,UTILITY WORKER,Public Works & Engineering-PWE,29557.0,Black or African American,Full Time,Male,2014-01-21,2014-01-21
30,ENGINEER/OPERATOR,Houston Fire Department (HFD),62540.0,White,Full Time,Male,2004-03-15,2010-08-11
31,FIRE FIGHTER TRAINEE,Houston Fire Department (HFD),28024.0,NaN,Full Time,Male,2016-03-14,2016-03-14
32,SENIOR ACCOUNTANT,Finance,46963.0,Black or African American,Full Time,Male,1991-02-11,2016-02-13
...,...,...,...,...,...,...,...,...
1966,MANAGEMENT ANALYST IV,Health & Human Services,65338.0,White,Full Time,Female,2013-10-28,2014-09-27
1967,STAFF ANALYST,Human Resources Dept.,65000.0,Black or African American,Full Time,Female,1995-10-30,2016-02-13
1970,SENIOR POLICE OFFICER,Houston Police Department-HPD,66614.0,Hispanic/Latino,Full Time,Male,1990-06-11,2002-12-07
1971,POLICE OFFICER,Houston Police Department-HPD,45279.0,Hispanic/Latino,Full Time,Female,2013-10-14,2014-10-14
1972,ENGINEER/OPERATOR,Houston Fire Department (HFD),63166.0,White,Full Time,Male,1990-12-10,2001-04-28
1973,SENIOR PROJECT MANAGER,Public Works & Engineering-PWE,77325.0,White,Full Time,Male,2008-08-04,2012-07-07
1974,SENIOR POLICE OFFICER,Houston Police Department-HPD,66614.0,Black or African American,Full Time,Male,1993-04-12,2013-10-12
1975,GROUND TRANSPORTATION REPRESENTATIVE,Houston Airport System (HAS),32157.0,Asian/Pacific Islander,Full Time,Female,1993-05-13,2000-07-15
1976,SENIOR SIDELOADER OPERATOR,Solid Waste Management,34466.0,Hispanic/Latino,Full Time,Female,2015-07-20,2016-01-30
1977,POLICE OFFICER,Houston Police Department-HPD,45279.0,White,Full Time,Male,2013-06-10,2014-06-10
1978,POLICE SERVICE OFFICER,Houston Police Department-HPD,27914.0,Black or African American,Full Time,Female,2011-10-14,2014-03-01
1979,SENIOR POLICE OFFICER,Houston Police Department-HPD,66614.0,Hispanic/Latino,Full Time,Male,1993-11-08,2006-06-03
1981,CAPTAIN,Houston Fire Department (HFD),70181.0,Black or African American,Full Time,Male,1994-08-29,2013-09-04
1982,FIRE FIGHTER,Houston Fire Department (HFD),55437.0,Black or African American,Full Time,Male,2004-01-05,2005-01-14
1983,ADMINISTRATIVE SPECIALIST,Admn. & Regulatory Affairs,55172.0,Black or African American,Full Time,Female,2006-10-16,2006-10-16
1984,ENGINEER/OPERATOR,Houston Fire Department (HFD),61921.0,White,Full Time,Male,2006-09-11,2014-06-11
1985,TRUCK DRIVER,Fleet Management Department,30222.0,Black or African American,Full Time,Male,2013-06-10,2015-08-01
1986,POLICE SERGEANT,Houston Police Department-HPD,77076.0,White,Full Time,Male,2001-12-03,2010-12-10
1988,SENIOR ASSISTANT CITY ATTORNEY II,Legal Department,124115.0,White,Full Time,Male,2013-01-23,2013-03-02
1989,EQUIPMENT WORKER,Public Works & Engineering-PWE,37211.0,Black or African American,Full Time,Male,1984-12-11,2004-09-18
1990,BUILDING MAINTENANCE SUPERVISOR,Parks & Recreation,30347.0,Black or African American,Full Time,Female,1995-10-14,2010-03-20
1991,MOBILITY SERVICE OFFICER,Houston Police Department-HPD,44429.0,Hispanic/Latino,Full Time,Female,2005-09-12,2007-06-02
1992,SECURITY OFFICER,Houston Airport System (HAS),29286.0,Hispanic/Latino,Full Time,Male,2011-12-12,2011-12-12
1993,POLICE SERGEANT,Houston Police Department-HPD,81239.0,White,Full Time,Male,1982-05-03,2011-09-03
1994,POLICE CAPTAIN,Houston Police Department-HPD,104455.0,Black or African American,Full Time,Male,1983-02-07,2004-07-08
1995,POLICE OFFICER,Houston Police Department-HPD,43443.0,White,Full Time,Male,2014-06-09,2015-06-09
1996,COMMUNICATIONS CAPTAIN,Houston Fire Department (HFD),66523.0,Black or African American,Full Time,Male,2003-09-02,2013-10-06
1997,POLICE OFFICER,Houston Police Department-HPD,43443.0,White,Full Time,Male,2014-10-13,2015-10-13
1998,POLICE OFFICER,Houston Police Department-HPD,55461.0,Asian/Pacific Islander,Full Time,Male,2009-01-20,2011-07-02
1999,FIRE FIGHTER,Houston Fire Department (HFD),51194.0,Hispanic/Latino,Full Time,Male,2009-01-12,2010-07-12

### Exercise 13
<span  style="color:green; font-size:16px">Get the same exact result as exercise 11, but make your selection from the employee DataFrame. Use only a single line of code</span>

In [56]:
employee[employee['BASE_SALARY'] >= 25000]

,POSITION_TITLE,DEPARTMENT,BASE_SALARY,RACE,EMPLOYMENT_TYPE,GENDER,HIRE_DATE,JOB_DATE
0,ASSISTANT DIRECTOR (EX LVL),Municipal Courts Department,121862.0,Hispanic/Latino,Full Time,Female,2006-06-12,2012-10-13
1,LIBRARY ASSISTANT,Library,26125.0,Hispanic/Latino,Full Time,Female,2000-07-19,2010-09-18
2,POLICE OFFICER,Houston Police Department-HPD,45279.0,White,Full Time,Male,2015-02-03,2015-02-03
3,ENGINEER/OPERATOR,Houston Fire Department (HFD),63166.0,White,Full Time,Male,1982-02-08,1991-05-25
4,ELECTRICIAN,General Services Department,56347.0,White,Full Time,Male,1989-06-19,1994-10-22
5,SENIOR POLICE OFFICER,Houston Police Department-HPD,66614.0,Black or African American,Full Time,Male,1984-11-26,2005-03-26
6,ENGINEER,Public Works & Engineering-PWE,71680.0,Asian/Pacific Islander,Full Time,Male,2012-03-26,2012-03-26
7,CARPENTER,Houston Airport System (HAS),42390.0,White,Full Time,Male,2013-11-04,2013-11-04
8,DEPUTY ASSISTANT DIRECTOR (EXECUTIVE LEV,Public Works & Engineering-PWE,107962.0,White,Full Time,Male,1993-11-15,2013-01-05
9,AIRPORT OPERATIONS COORDINATOR,Houston Airport System (HAS),44616.0,NaN,Full Time,Male,2016-03-14,2016-03-14
10,FIRE FIGHTER,Houston Fire Department (HFD),52644.0,Hispanic/Latino,Full Time,Male,2007-05-21,2008-11-15
11,"CHIEF PHYSICIAN,MD",Health & Human Services,180416.0,Black or African American,Full Time,Male,1987-05-22,1999-08-28
12,CUSTOMER SERVICE REPRESENTATIVE I,Public Works & Engineering-PWE,30347.0,Black or African American,Full Time,Male,2015-11-16,2015-11-16
13,PUBLIC HEALTH INVESTIGATOR SUPERVISOR,Health & Human Services,55269.0,Black or African American,Full Time,Male,1999-10-20,2001-05-19
14,POLICE SERGEANT,Houston Police Department-HPD,77076.0,Black or African American,Full Time,Male,2001-06-04,2015-05-25
17,POLICE SERGEANT,Houston Police Department-HPD,81239.0,White,Full Time,Male,1995-06-19,2007-03-03
18,MAINTENANCE MECHANIC III,General Services Department,40581.0,Hispanic/Latino,Full Time,Male,2008-12-29,2008-12-29
19,SENIOR POLICE OFFICER,Houston Police Department-HPD,66614.0,White,Full Time,Male,1992-02-17,2007-07-28
20,SENIOR INSPECTOR,Public Works & Engineering-PWE,61506.0,White,Full Time,Male,2009-04-06,2015-04-11
21,FIRE FIGHTER,Houston Fire Department (HFD),57815.0,Black or African American,Full Time,Male,2001-03-20,2003-01-04
22,INSPECTOR,Public Works & Engineering-PWE,43264.0,Black or African American,Full Time,Male,2015-01-05,2015-01-05
23,FIRE FIGHTER,Houston Fire Department (HFD),55437.0,White,Full Time,Male,2004-03-15,2005-03-26
24,POLICE OFFICER,Houston Police Department-HPD,52514.0,Black or African American,Full Time,Male,2010-03-29,2011-03-29
25,SENIOR POLICE OFFICER,Houston Police Department-HPD,61643.0,White,Full Time,Male,1999-08-23,2012-03-31
27,SENIOR POLICE OFFICER,Houston Police Department-HPD,66614.0,White,Full Time,Male,1990-01-12,2004-07-03
28,POLICE SERGEANT,Houston Police Department-HPD,81239.0,White,Full Time,Male,1978-03-13,1994-09-10
29,UTILITY WORKER,Public Works & Engineering-PWE,29557.0,Black or African American,Full Time,Male,2014-01-21,2014-01-21
30,ENGINEER/OPERATOR,Houston Fire Department (HFD),62540.0,White,Full Time,Male,2004-03-15,2010-08-11
31,FIRE FIGHTER TRAINEE,Houston Fire Department (HFD),28024.0,NaN,Full Time,Male,2016-03-14,2016-03-14
32,SENIOR ACCOUNTANT,Finance,46963.0,Black or African American,Full Time,Male,1991-02-11,2016-02-13
...,...,...,...,...,...,...,...,...
1966,MANAGEMENT ANALYST IV,Health & Human Services,65338.0,White,Full Time,Female,2013-10-28,2014-09-27
1967,STAFF ANALYST,Human Resources Dept.,65000.0,Black or African American,Full Time,Female,1995-10-30,2016-02-13
1970,SENIOR POLICE OFFICER,Houston Police Department-HPD,66614.0,Hispanic/Latino,Full Time,Male,1990-06-11,2002-12-07
1971,POLICE OFFICER,Houston Police Department-HPD,45279.0,Hispanic/Latino,Full Time,Female,2013-10-14,2014-10-14
1972,ENGINEER/OPERATOR,Houston Fire Department (HFD),63166.0,White,Full Time,Male,1990-12-10,2001-04-28
1973,SENIOR PROJECT MANAGER,Public Works & Engineering-PWE,77325.0,White,Full Time,Male,2008-08-04,2012-07-07
1974,SENIOR POLICE OFFICER,Houston Police Department-HPD,66614.0,Black or African American,Full Time,Male,1993-04-12,2013-10-12
1975,GROUND TRANSPORTATION REPRESENTATIVE,Houston Airport System (HAS),32157.0,Asian/Pacific Islander,Full Time,Female,1993-05-13,2000-07-15
1976,SENIOR SIDELOADER OPERATOR,Solid Waste Management,34466.0,Hispanic/Latino,Full Time,Female,2015-07-20,2016-01-30
1977,POLICE OFFICER,Houston Police Department-HPD,45279.0,White,Full Time,Male,2013-06-10,2014-06-10
1978,POLICE SERVICE OFFICER,Houston Police Department-HPD,27914.0,Black or African American,Full Time,Female,2011-10-14,2014-03-01
1979,SENIOR POLICE OFFICER,Houston Police Department-HPD,66614.0,Hispanic/Latino,Full Time,Male,1993-11-08,2006-06-03
1981,CAPTAIN,Houston Fire Department (HFD),70181.0,Black or African American,Full Time,Male,1994-08-29,2013-09-04
1982,FIRE FIGHTER,Houston Fire Department (HFD),55437.0,Black or African American,Full Time,Male,2004-01-05,2005-01-14
1983,ADMINISTRATIVE SPECIALIST,Admn. & Regulatory Affairs,55172.0,Black or African American,Full Time,Female,2006-10-16,2006-10-16
1984,ENGINEER/OPERATOR,Houston Fire Department (HFD),61921.0,White,Full Time,Male,2006-09-11,2014-06-11
1985,TRUCK DRIVER,Fleet Management Department,30222.0,Black or African American,Full Time,Male,2013-06-10,2015-08-01
1986,POLICE SERGEANT,Houston Police Department-HPD,77076.0,White,Full Time,Male,2001-12-03,2010-12-10
1988,SENIOR ASSISTANT CITY ATTORNEY II,Legal Department,124115.0,White,Full Time,Male,2013-01-23,2013-03-02
1989,EQUIPMENT WORKER,Public Works & Engineering-PWE,37211.0,Black or African American,Full Time,Male,1984-12-11,2004-09-18
1990,BUILDING MAINTENANCE SUPERVISOR,Parks & Recreation,30347.0,Black or African American,Full Time,Female,1995-10-14,2010-03-20
1991,MOBILITY SERVICE OFFICER,Houston Police Department-HPD,44429.0,Hispanic/Latino,Full Time,Female,2005-09-12,2007-06-02
1992,SECURITY OFFICER,Houston Airport System (HAS),29286.0,Hispanic/Latino,Full Time,Male,2011-12-12,2011-12-12
1993,POLICE SERGEANT,Houston Police Department-HPD,81239.0,White,Full Time,Male,1982-05-03,2011-09-03
1994,POLICE CAPTAIN,Houston Police Department-HPD,104455.0,Black or African American,Full Time,Male,1983-02-07,2004-07-08
1995,POLICE OFFICER,Houston Police Department-HPD,43443.0,White,Full Time,Male,2014-06-09,2015-06-09
1996,COMMUNICATIONS CAPTAIN,Houston Fire Department (HFD),66523.0,Black or African American,Full Time,Male,2003-09-02,2013-10-06
1997,POLICE OFFICER,Houston Police Department-HPD,43443.0,White,Full Time,Male,2014-10-13,2015-10-13
1998,POLICE OFFICER,Houston Police Department-HPD,55461.0,Asian/Pacific Islander,Full Time,Male,2009-01-20,2011-07-02
1999,FIRE FIGHTER,Houston Fire Department (HFD),51194.0,Hispanic/Latino,Full Time,Male,2009-01-12,2010-07-12